<header class="top-header clearfix">

    <!-- Logo -->
    <div class="logo">
        <a href="#/">
            <!-- <span class="logo-icon glyphicon glyphicon-fire"></span> -->
            <!-- <span>{{main.brand}}</span> -->
        </a>
    </div>

    <!-- needs to be put after logo to make it working-->
    <div class="menu-button" toggle-off-canvas>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </div>

    <div class="top-nav">
        <ul class="nav-left list-unstyled">
            <li class="dropdown text-normal nav-profile">
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="images/mano/profile.jpg" alt="프로파일 이미지" class="img-circle img30_30">
                    <span class="hidden-xs">
                        <span data-i18n="Admin"></span>
                    </span>
                </a>
                <ul class="dropdown-menu with-arrow">
                    <li>
                        <a href="#/pages/profile">
                            <i class="fa fa-user"></i>
                            <span data-i18n="My Profile"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#/tasks/tasks">
                            <i class="fa fa-check"></i>
                            <span data-i18n="My Tasks"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#/pages/lock-screen">
                            <i class="fa fa-lock"></i>
                            <span data-i18n="Lock"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#/pages/signin">
                            <i class="fa fa-sign-out"></i>
                            <span data-i18n="Log Out"></span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>

        <ul data-ng-controller="AlarmsHeaderCtrl"
        	class="nav-right pull-right list-unstyled">

            <li class="dropdown">
                <a href="javascript:;" class="dropdown-toggle bg-danger-custom" data-toggle="dropdown">
                    <i class="fa fa-bell-o"></i>
                    <span class="badge badge-info"><span ng-bind="filteredAlarm001Log.length || 0" /></span>
                </a>
                <div class="dropdown-menu pull-right with-arrow panel panel-default">
                    <div class="panel-heading">
                    	<span ng-show="filteredAlarm001Log.length == 0">메시지가 존재하지 않습니다.</span>
                    	<span ng-show="filteredAlarm001Log.length > 0">{{filteredAlarm001Log.length}} 개의 메시지가 있습니다.</span>
                    </div>

                    <ul class="list-group"
                    	data-slim-scroll
						data-scroll-height="281px">
                        <li ng-repeat="item in filteredAlarm001Log = (alarms | filter: {alarmGrade: 'AG001'} | reverse | limitTo: 100)"
                        	class="list-group-item">
                            <div class="media">
                                <span class="media-left media-icon">
                                    <span class="round-icon sm bg-danger-custom"><i class="fa fa-bell-o"></i></span>
                                    <span ng-bind="item.alarmGradeCdNm"></span>
                                </span>
                                <div class="media-body">
                                    <span class="block">
                                    	<span ng-click="deleteAlarm(item)"><span ng-click="deleteAlarm(item)"><span class="fa fa-check-square-o"></span></span></span>
                                    	&nbsp;&nbsp;
                                    	<span ng-bind="item.alarmName"></span>
                                    </span>
                                    <!-- <span class="text-muted">3 hours ago</span> -->
                                </div>
                            </div>
                        </li>
                    </ul>
                    <!-- <div class="panel-footer">
                        <a href="javascript:;">Show all messages.</a>
                    </div> -->
                </div>
            </li><!-- // AlarmsCtrl -->

            <li class="dropdown">
                <a href="javascript:;" class="dropdown-toggle bg-warning-custom" data-toggle="dropdown">
                    <i class="fa fa-bell-o"></i>
                    <span class="badge badge-info"><span ng-bind="filteredAlarm002Log.length || 0" /></span>
                </a>
                <div class="dropdown-menu pull-right with-arrow panel panel-default">
                    <div class="panel-heading">
                    	<span ng-show="filteredAlarm002Log.length == 0">메시지가 존재하지 않습니다.</span>
                    	<span ng-show="filteredAlarm002Log.length > 0">{{filteredAlarm002Log.length}} 개의 메시지가 있습니다.</span>
                    </div>
                    <ul class="list-group"
                    	data-slim-scroll
						data-scroll-height="281px">
                        <li ng-repeat="item in filteredAlarm002Log = (alarms | filter: {alarmGrade: 'AG002'} | reverse | limitTo: 100)"
                        	class="list-group-item">
                            <div class="media">
                                <span class="media-left media-icon">
                                    <span class="round-icon sm bg-warning-custom"><i class="fa fa-bell-o"></i></span>
                                    <span ng-bind="item.alarmGradeCdNm"></span>
                                </span>
                                <div class="media-body">
                                    <span class="block">
                                    	<span ng-click="deleteAlarm(item)"><span ng-click="deleteAlarm(item)"><span class="fa fa-check-square-o"></span></span></span>
                                    	&nbsp;&nbsp;
                                    	<span ng-bind="item.alarmName"></span>
                                    </span>
                                    <!-- <span class="text-muted block">2min ago</span> -->
                                </div>
                            </div>
                        </li>
                    </ul>
                    <!-- <div class="panel-footer">
                        <a href="javascript:;">Show all mails.</a>
                    </div> -->
                </div>
            </li>
            <li class="dropdown">
                <a href="javascript:;" class="dropdown-toggle bg-success-custom" data-toggle="dropdown">
                    <i class="fa fa-bell-o nav-icon"></i>
                    <span class="badge badge-info"><span ng-bind="filteredAlarm003Log.length || 0" /></span>
                </a>
                <div class="dropdown-menu pull-right with-arrow panel panel-default">
                    <div class="panel-heading">
                    	<span ng-show="filteredAlarm003Log.length == 0">메시지가 존재하지 않습니다.</span>
                    	<span ng-show="filteredAlarm003Log.length > 0">{{filteredAlarm003Log.length}} 개의 메시지가 있습니다.</span>
                    </div>
                    <ul class="list-group"
                    	data-slim-scroll
						data-scroll-height="281px">
                    	<li ng-repeat="item in filteredAlarm003Log = (alarms | filter: {alarmGrade: 'AG003'} | reverse | limitTo: 100)"
                    		class="list-group-item">
                            <div class="media">
                                <span class="media-left media-icon">
                                    <span class="round-icon sm bg-success-custom"><i class="fa fa-bell-o"></i></span>
                                    <span ng-bind="item.alarmGradeCdNm"></span>
                                </span>
                                <div class="media-body">
                                    <span class="block">
                                    	<span ng-click="deleteAlarm(item)"><span ng-click="deleteAlarm(item)"><span class="fa fa-check-square-o"></span></span></span>
                                    	&nbsp;&nbsp;
                                    	<span ng-bind="item.alarmName"></span>
                                    </span>
                                    <!-- <span class="text-muted block">2min ago</span> -->
                                </div>
                            </div>
                        </li>
                    </ul>
                    <!-- <div class="panel-footer">
                        <a href="javascript:;">Show all notifications.</a>
                    </div> -->
                </div>
            </li>
        </ul>
    </div>

</header>
