        
<div class="nav-wrapper">
    <ul id="nav"
        class="nav"
        data-ng-controller="NavCtrl"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>

		<!-- Dashboard -->
		<li><a href="#/dashboard/dashboard"> <i class="fa fa-dashboard"></i><span data-i18n="Dashboard"></span> </a></li>

		<!-- System -->
        <li><a href="#/systems/index"> <i class="fa fa-desktop"></i><span data-i18n="System"></span> </a></li>

		<!-- Instance -->
        <li>
        	<a href="#/instances/index"><i class="fa fa-sitemap"></i><span data-i18n="Instance"></span></a>
        </li>
        
        <!-- Volumes -->
        <li>
            <a href="#/volumes/index"><i class="fa fa-database"></i><span data-i18n="Volume"></span></a>
        </li>
        
        <!-- Netowrks -->
        <li>
            <a href="#/networks/index"><i class="fa fa-cloud"></i><span data-i18n="Network"></span></a>
            <ul>
                <li><a href="#/networks/networks/index"><i class="fa fa-caret-right"></i><span data-i18n="Network"></span></a></li>
                <li><a href="#/networks/router/index"><i class="fa fa-caret-right"></i><span data-i18n="Router"></span></a></li>
                <li><a href="#/networks/topology/index"><i class="fa fa-caret-right"></i><span data-i18n="Topology"></span> </a></li>
            </ul>
        </li>
        
        <!-- Flavors -->
        <li>
            <a href="#/flavors/index"><i class="fa fa-cube"></i><span data-i18n="Flavor"></span></a>
        </li>
        
        <!-- Images -->
        <li>
            <a href="#/images/index"><i class="fa fa-hdd-o"></i><span data-i18n="Image"></span></a>
        </li>
    </ul>
</div>