
<form name="form" class="form-validation" novalidate>
	<fieldset>

		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="row">
					<div class="col-md-6 text-left">
						<span class="glyphicon glyphicon-th"></span> Descriptor Viewer
					</div>
					<!-- // col -->

					<div class="col-md-6 text-right">

						<button type="submit" ng-if="editMode=='MODIFY'"
							ng-click="saveModify()"
							class="btn btn-sm btn-info">
							<span class="fa fa-floppy-o"></span>
							Save
						</button>
						<button type="submit" ng-if="editMode=='ADD'"
							ng-click="saveNew()"
							class="btn btn-sm btn-info">
							<span class="fa fa-floppy-o"></span>
							Save
						</button>
						<button type="button" ng-if="editMode=='XML'"
							ng-click="modifySelectedItem()"
							class="btn btn-sm btn-info" ng-class="{'disabled': ngModel == undefined}"
							 ng-disabled="ngModel == undefined">
							<span class="fa fa-pencil"></span>
							Edit
						</button>
						<button type="button" ng-click="addNew()"
							class="btn btn-sm btn-info" ng-class="{'disabled': editMode != 'XML'}"
							 ng-disabled="editMode != 'XML'">
							<span class="fa fa-plus"></span>
							Add
						</button>
						

						<button type="button" ng-click="deleteSelectedItem()"
							class="btn btn-sm btn-danger" ng-class="{'disabled': ngModel == undefined}" ng-disabled="ngModel == undefined">
							<span class="fa fa-trash"></span>
							Delete
						</button>
					</div>
					<!-- // col -->
				</div>
				<!-- // row -->
			</div>
			<!-- // header -->

			<div class="panel-body">
				<div class="custom-pre-scrollable" ng-style="style()" resizefit>
					<pre ng-if="editMode =='XML' && detailXMLView" style="width: 100%; max-height: 450px;">{{detailXMLView}}</pre>
				
				
<div class="form-group" ng-if="editMode !='XML' && ngModel">
	<table class="table">
		<caption></caption>

		<colgroup>
			<col width="40%" />
			<col width="60%" />
		</colgroup>

		<tbody>
			<tr>
				<th>id</th>
				<td>
					<span ng-if="editMode=='MODIFY'">{{ngModel.id}}</span>
					<div class="form-control-wrapper" ng-if="editMode=='ADD'">
						<input type="text"
							name="id"
							class="form-control"
							ng-model="ngModel.id"
							placeholder="id"
							maxlength="50"
							required
							/>
	
						<div ng-show="form.id.$error.required">Required</div>
					</div>
				</td>
			</tr>
			
			<tr>
				<th>flavour key</th>
				<td>
					<div class="form-control-wrapper">
						<input type="text"
							name="flavour key"
							class="form-control"
							ng-model="ngModel.flavour_key"
							placeholder="flavour_key"
							maxlength="50"
							required
							/>
	
						<div ng-show="form.flavour_key.$error.required">Required</div>
					</div>
				</td>
			</tr>			
			
			<tr>
				<th>constituent vnf</th>
				<td>
					<div class="form-control-wrapper">
						<div data-nfv-checkbox-list
							data-group-name="'cvnf'"
							data-items="options.cvnf_list" 
							ng-model="ngModel.constituent_vnf_list.constituent_vnf">
						</div>
					</div>
				</td>
			</tr>
			
		</tbody>
	</table>
</div>


				</div>
				<!-- // panel-body-wrapper -->
			</div>
			<!-- // panel-body -->
		</div>
		<!-- // panel -->
	</fieldset>
</form><!-- // form -->