
<div class="panel panel-default">
	<div class="panel-heading">
		<div class="row">
			<div class="col-md-6 text-left">
				<span class="glyphicon glyphicon-th"></span>
				Flavor 상세
			</div><!-- // col -->
			<!-- byjch -->
			 <div ng-show="flavor"
				class="col-md-6 text-right">

				<!-- <div class="btn-group" dropdown>
					<button type="button" class="btn btn-info btn-sm dropdown-toggle">
						동작
						<span class="caret"></span>
					</button>
	
	                <ul class="dropdown-menu" role="menu">
	                	<li ><a href ng-click="editFlavorForm(flavor)">Flavor 편집</a></li>
	                	<li ><a href ng-click="getDetailFlavorExtrasForm(flavor)">추가 사양 확인</a></li>
	                </ul>
				</div> 
				
				<a href
					ng-click="deleteFlavorForm(flavor)"
					ng-disabled="flavor == null"
					class="btn btn-sm btn-danger">
					<span class="fa fa-trash"></span>
					Flavor 삭제</a>
				-->
			</div> <!-- // col -->
		</div><!-- // row -->
	</div><!-- // panel-heading -->

	<div class="panel-body">
		<div class="custom-pre-scrollable" ng-style="style()" resizefit>

			<table class="table">
				<caption>상세정보</caption>

				<colgroup>
					<col width="20%">
					<col width="30%">
					<col width="20%">
					<col width="30%">
				</colgroup>
				
				<tbody>
					<tr>
						<th>이름</th>
						<td  ng-bind="flavor.name"></td>
						<th>공용</th>
						<td ng-bind="flavor.public ? '예' : '아니오'"></td>
					</tr>
					<tr>
						<th>VCPUs</th>
						<td ng-bind="flavor.vcpus"></td>

						<th>RAM</th>
						<td ng-bind="flavor.ram + ' MB'"></td>
					</tr>
					<tr>
						<th>Root 디스크</th>
						<td colspan="3" ng-bind="flavor.disk + ' GB'"></td>
					</tr>
					<tr>
						<th>Ephemeral 디스크</th>
						<td ng-bind="flavor['OS-FLV-EXT-DATA:ephemeral'] + ' GB'"></td>
						<th>Swap 디스크</th>
						<td ng-bind="flavor.swap + ' MB'"></td>
					</tr>
					<tr>
						<th>Spec</th>
						<td ng-bind="flavor.spec"></td>
					</tr>
				</tbody>
			</table>
			
		</div><!-- // panel-body-wrapper -->
	</div><!-- // panel-body -->
</div><!-- // panel -->