<div class="modal-header">
	<h3>VNFC 시작</h3>
</div>

<form name="form" class="form-validation" novalidate ng-submit="submit(instance)">

	<div class="modal-body">
		<tabset class="ui-tab">
		    <tab heading="세부정보 *">
		    	<!-- Detail -->
				<div ng-include=" 'views/instances/create_detail.html' "></div>
		    </tab>
		    <!-- <tab heading="네트워킹 *">
		    	<div ng-include=" 'views/instances/create_network.html' "></div>
		    </tab> -->
		    
		</tabset>

	</div><!-- // modal-body -->

	<div class="modal-footer">

		<button type="button"
			class="btn btn-default pull-left"
			ng-disabled="!canRevert()"
			ng-click="revert()"
			data-i18n="초기화"></button>

		<button type="button"
			class="btn btn-warning"
			ng-click="cancel()"
			data-i18n="취소"></button>

		<button type="submit"
			class="btn btn-primary"
			ng-disabled="!canSubmit()"
			data-i18n="생성"></button>

	</div><!-- // modal-footer -->

</form><!-- // form -->