
<div class="row">
	<div class="col-md-6">

		<fieldset>
			<div class="form-group">
				<label id="selected_network_label">네트워크를 선택함.</label>
				<div ui-tree="options" data-max-depth="1" data-empty-place-holder-enabled="false" class="selected_network_container"> 
                    <ol ui-tree-nodes ng-model="selected_networks" >
                        <li ng-repeat="item in selected_networks" ui-tree-node ng-include="'seleted_items_renderer.html'"></li>
                    </ol>
                </div>
                <br/>
                
                <label>사용 가능한 네트워크</label>
				<div ui-tree="options" data-max-depth="1" data-empty-place-holder-enabled="false" class="available_network_container">
                    <ol ui-tree-nodes ng-model="networks" >
                        <li ng-repeat="item in networks" ui-tree-node ng-include="'networks_items_renderer.html'"></li>
                    </ol>
                </div>
				<!-- 
				<div class="btn btn-primary" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="list1" jqyoui-draggable="{animate:true}" ng-hide="!list1.title">{{list1.title}}</div>
				
				<div class="thumbnail" data-drop="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px;'>
				  <div class="btn btn-success" data-drag="false" data-jqyoui-options ng-model="list2" jqyoui-draggable ng-hide="!list2.title">{{list2.title}}</div>
				</div>
				 -->

<!-- 
				<label id="selected_network_label">네트워크를 선택함.</label>
				<ul id="selected_network" class="networklist ui-sortable"></ul>
				<label>사용 가능한 네트워크</label>
				<ul id="available_network" class="networklist ui-sortable">
					<li name="c2802a7c-fbc8-4e5a-bb89-03f034b3b9a1" style="position: relative;" class="" data-drag="true" jqyoui-draggable>
						admin-net
						<em class="network_id">(c2802a7c-fbc8-4e5a-bb89-03f034b3b9a1)</em>
						<a href="#" class="btn btn-primary"></a>
					</li>
					<li name="5a67180b-d087-4cec-a895-b62f8dd265c1" data-drag="true" jqyoui-draggable>
						ext-net
						<em class="network_id">(5a67180b-d087-4cec-a895-b62f8dd265c1)</em>
						<a href="#" class="btn btn-primary"></a>
					</li>
				</ul>
 -->
			</div><!-- // form-group -->
		</fieldset><!-- // fieldset -->

	<script type="text/ng-template" id="seleted_items_renderer.html">
        <div class="angular-ui-tree-handle">
            {{item.name}} ({{item.id}})
            <a class="pull-right btn btn-danger btn-xs " data-nodrag ng-click="removeNetworkItem(item)"><span class="fa fa-minus"></span></a>
        </div>
    </script>
	<script type="text/ng-template" id="networks_items_renderer.html">
        <div class="angular-ui-tree-handle">
            {{item.name}} ({{item.id}})
            <a class="pull-right btn btn-info btn-xs " data-nodrag ng-click="addNetworkItem(item)"><span class="fa fa-plus"></span></a>
        </div>
    </script>
	</div><!-- // col -->

	<div class="col-md-6">
	
		<div class="row">
			<div class="col-md-12">
				버튼을 클릭하거나 드래그 앤 드롭으로 '사용가능한 네트워크에'서 네트워크 항목을 선택하여 '선택한 네트워크'로 이동 하십시오. 드래그 앤 드롭으로 NIC 순서를 변경할 수 있습니다.
			</div>
		</div>

	</div><!-- // col -->
</div><!-- // row -->