<!-- <div class="panel panel-default" style="padding: 1em;">
	<div class="row system-chart-wrapper">
		<div class="col-md-6">
			<h5>CPU</h5>
			<div data-instance-flot-chart-realtime
				system-id="instance.id"
				percentage="instanceUsedCpuPer"
				data-type="realtime"
				style="width: 100%; height: 120px;">
			</div>
		</div>

		<div class="col-md-6">
			<h5>Memory</h5>
			<div data-instance-flot-chart-realtime
				system_id="instance.id"
				percentage="instanceUsedMemoryPer"
				data-type="realtime"
				style="width: 100%; height: 120px;">
			</div>
		</div>

	</div>
</div> -->

<div class="panel panel-default">
	<div class="panel-heading">
		<div class="row">
			<div class="col-md-6 text-left">
			<div ng-show="instance.type == 'vnf'">
				<span class="glyphicon glyphicon-th"></span>
				VNF 개요  
				</div>
			<div ng-show="instance.type != 'vnf'">
				<span class="glyphicon glyphicon-th"></span>
				VM 개요  
			</div>
				<!--  {{instance.id}}, {{instance['OS-SRV-USG:launched_at']}}, {{instance['OS-EXT-SRV-ATTR:hypervisor_hostname']}} -->
			</div><!-- // col -->

			<div ng-show="instance"
				class="col-md-6 text-left">

				<div class="btn-group" dropdown>
					<button type="button" class="btn btn-info btn-sm dropdown-toggle">
						동작
						<span class="caret"></span>
					</button>
	
	                <ul class="dropdown-menu" role="menu" >
	                	<li ng-show="instance.type == 'vnf' "><a href ng-click="deleteInstances(instance)">VNF 삭제</a></li>
	                	<li ng-show="instance.type == 'vnf' "><a href ng-click="createBackupForm()">VNF Backup</a></li>
	                	<li ng-show="instance.type == 'vnf' "><a href ng-click="instanceAction('ALLSTOP', instance)">VNF Power off</a></li>
	                	<li ng-show="instance.type == 'vnf' "><a href ng-click="instanceAction('ALLSTART', instance)">VNF Power on</a></li>
	                	
	                	<!-- <li ng-show="instance.id">
	                	<a href ng-click="createRouterForm()">스냅샷 생성</a></li> -->
	                	
	                	<li ng-show="instance.type != 'vnf' 
	                	&& instance.status == 'active'">
	                	<a href ng-click="consoleForm(instance)">Console</a></li>
	                	<li ng-show="instance.type != 'vnf' 
	                	&& instance.status == 'active'">
	                	<a href ng-click="instanceAction('PAUSE', instance)">VM 일시중단</a></li>
	                	<li ng-show="instance.type != 'vnf' 
	                	&& instance.status == 'paused'">
	                	<a href ng-click="instanceAction('UNPAUSE', instance)">VM 재시작</a></li>
	                	
	                	<li ng-show="instance.type != 'vnf'
	                	&& instance.status == 'active'">
	                	<a href ng-click="instanceAction('STOP', instance)">VM Power Off</a></li>
         	            <li ng-show="instance.type != 'vnf' 
	                	&& instance.status == 'shutoff'">
	                	<a href ng-click="instanceAction('START', instance)">VM Power On</a></li>
	                	
	                	<li ng-show="instance.type != 'vnf' 
	                	&& instance.status == 'error'">
	                	<a href ng-click="instanceAction('delete', instance)">VM 삭제</a></li>
	                	
	                	<!-- <a href ng-click="instanceAction('SUSPEND', instance)">VM 시작</a></li>
         	            <li ng-show="instance.id 
	                	&& instance.status == 'suspended'">
	                	<a href ng-click="instanceAction('RESUME', instance)">VM Power On</a></li> -->
         	            
	                	<li ng-show="instance.type != 'vnf'"><a href ng-click="liveMigrationForm(instance)">VM 이전</a></li>
         	            
         	            <li ng-show="instance.type != 'vnf' 
	                	&& instance.status == 'active'">
	                	<a href ng-click="instanceAction('SCALE_IN', instance)">VM Scale_in</a></li>
	                	
	                	<li ng-show="instance.type != 'vnf' 
	                	&& instance.status == 'active'">
	                	<a href ng-click="instanceAction('SCALE_OUT', instance)">VM Scale_out</a></li>
         	            
         	            <li ng-show="instance.type != 'vnf'"><a href ng-click="instanceAction('soft', instance)">VM 소프트재시작</a></li>
         	            <li ng-show="instance.type != 'vnf'"><a href ng-click="instanceAction('hard', instance)">VM 하드재시작</a></li>
	                	<!-- <li ng-show="instance.id"><a href ng-click="deleteInstance(instance)">VNFC 종료</a></li> -->
	                	
	                
	                
<!-- 	                	<li ng-show="instance.status == 'PAUSED'"><a href ng-click="instanceAction('UNPAUSE', instance)">인스턴스 재시작</a></li>
	                	<li ng-show="instance.status == 'ACTIVE'"><a href ng-click="instanceAction('PAUSE', instance)">인스턴스 정지</a></li>
	                	<li><a href ng-click="createFloatingIPForm(instance)">유동 IP 연결</a></li>
	                	<li><a href ng-click="deleteFloatingIPForm(instance)">유동 IP 연결 해제</a></li>
	                	<li><a href ng-click="liveMigrationForm(instance)">live migration</a></li> -->
	                </ul>
				</div>
				
				<!-- <a href
					ng-click="deleteInstance(instance)"
					ng-disabled="instance == null"
					class="btn btn-sm btn-danger">
					<span class="fa fa-trash"></span>
					인스턴스 종료</a> -->

			</div><!-- // col -->
		</div><!-- // row -->
	</div><!-- // header -->

	<div class="panel-body">
		<div class="custom-pre-scrollable" ng-style="style()" resizefit>

			<div ng-show="instance">
	
				<table class="table">
					<caption>정보</caption>
					<colgroup>
						<col width="20%" />
						<col width="30%" />
						<col width="20%" />
						<col width="30%" />
					</colgroup>
	
					<tbody>
						<tr>
							<th><span data-i18n="이름"></span></th>
							<td><span ng-bind="instance.name"></span></td>
	
							<th><span data-i18n="HYPERVISOR"></span></th>
							<td><span ng-bind="instance['OS-EXT-SRV-ATTR:hypervisor_hostname']"></span></td>
							
						</tr>
	
						<tr>
							<th><span data-i18n="ID"></span></th>
							<td colspan="3"><span ng-bind="instance.id"></span></td>
						</tr>
	
						<tr>
							<th><span data-i18n="상태"></span></th>
							<td>
								<span ng-show="isActionProgress(instance.status)" class="custom_progress">
										<progressbar class="progressbar-sm progress-striped active" value="100"></progressbar>
								</span>
								<span ng-bind="instance.status"></span>
							</td>
						
							<th><span data-i18n="가용성존"></span></th>
							<td><span ng-bind="instance['OS-EXT-AZ:availability_zone']"></span></td>
						</tr>
	
						<tr>
							<th><span data-i18n="생성"></span></th>
							<td><span ng-bind="instance.created | date: 'yyyy-MM-dd HH:mm:ss'"></span></td>
						
							<th><span data-i18n="가동 시간"></span></th>
							<td><span ng-bind="instance['OS-SRV-USG:launched_at'] | date: 'yyyy-MM-dd HH:mm:ss'"></span></td>
						</tr>
					</tbody>
				</table>
				
				<div ng-show="instance.fault">
	
					<table class="table">
						<caption>Fault</caption>
						<colgroup>
							<col width="20%" />
							<col width="30%" />
							<col width="20%" />
							<col width="30%" />
						</colgroup>
		
						<tbody>
							<tr>
								<th><span data-i18n="메시지"></span></th>
								<td class="danger"><span ng-bind="instance.fault.message"></span></td>
							</tr>
	
							<tr>
								<th><span data-i18n="코드"></span></th>
								<td class="danger"><span ng-bind="instance.fault.code"></span></td>
							</tr>
	
							<tr>
								<th><span data-i18n="세부 정보"></span></th>
								<td class="danger"><span ng-bind="instance.fault.details"></span></td>
							</tr>
	
							<tr>
								<th><span data-i18n="생성"></span></th>
								<td class="danger"><span ng-bind="instance.fault.created | date: 'yyyy-MM-dd HH:mm:ss'"></span></td>
							</tr>
						</tbody>
					</table>
				</div>
				
				<div ng-show="!instance.title">
				<table class="table">
					<caption>스펙</caption>

					<colgroup>
						<col width="20%" />
						<col width="30%" />
						<col width="20%" />
						<col width="30%" />
					</colgroup>
	
					<tbody>
						<tr>
							<th><span data-i18n="Flavor"></span></th>
							<td colspan="3"><span ng-bind="instance.flavor.name"></span></td>
						</tr>
	
						<tr>
							<th><span data-i18n="VCPUs"></span></th>
							<td><span ng-bind="instance.flavor.vcpus | number">G</span></td>

							<th><span data-i18n="RAM"></span></th>
							<td><span ng-bind="instance.flavor.ram | number">M</span></td>
						</tr>
	
						<tr>
							<th><span data-i18n="디스크"></span></th>
							<td colspan="3"><span ng-bind="instance.flavor.disk | number">G</span></td>
						</tr>
	
						<tr ng-show="instance.flavor.ephemeral">
							<th><span data-i18n="Ephemeral 디스크"></span></th>
							<td colspan="3"><span ng-bind="instance.flavor.ephemeral">G</span></td>
						</tr>
					</tbody>
				</table>
				
				<table class="table">
					<caption>IP 주소</caption>

					<colgroup>
						<col width="30%" />
						<col width="70%" />
					</colgroup>
	
					<tbody ng-repeat="(network, ip_list) in instance.addresses.addresses">
						<tr>
							<th ng-bind="network"></th>
							<td>
								<span ng-repeat="ip in ip_list">
									{{ip.addr}}{{$last ? '' : ', '}}
								</span>
							</td>
						</tr>
					</tbody>
				</table>
				
				<!-- TODO 시큐리티 그룹 구현!!!! -->
				
				<table class="table">
					<caption>메타</caption>
					<colgroup>
						<col width="30%" />
						<col width="70%" />
					</colgroup>
	
					<tbody>
						<tr>
							<th><span data-i18n="키이름"></span></th>
							<td ng-bind="instance.key_name || 'None'"></td>
						</tr>
	
						<tr>
							<th><span data-i18n="이미지 이름"></span></th>
							<td>
								<a href
									ng-if="instance.image"
									ng-bind="instance.image.name"></a>
								<spa ng-if="!instance.image">None</span>
							</td>
						</tr>
					</tbody>
	
					<tbody ng-repeat="(key, value) in instance.metadata">
						<tr>
							<th ng-bind="key"></th>
							<td ng-bind="value"></td>
						</tr>
					</tbody>
				</table>
				
				<table class="table">
					<volume>볼륨 연결</volume>

					<colgroup>
						<col width="30%" />
						<col width="70%" />
					</colgroup>
	
					<tbody ng-repeat="volume in instance['os-extended-volumes:volumes_attached']">
						<tr>
							<th data-i18n="Volume"></th>
							<td>
								<a href>
									<span ng-if="!volume.name" ng-bind="volume.id"></span>
									<span ng-if="volume.name" ng-bind="volume.name"></span>
								</a>
								<span ng-bind="volume.device"></span>
							</td>
						</tr>
					</tbody>
				</table>
			</ br>
			액션 로그
			<table id="osKsadmServices" class="table table-bordered table-striped datatable">
				<thead>
					<tr>
						<th class="sortable hide normal_column">Id</th>
						<th class="sortable normal_column">요청 ID</th>
						<th class="sortable normal_column">동작</th>
						<th class="sortable normal_column">시작 시간</th>
						<th class="sortable normal_column">종료 시간</th>
						<th class="sortable normal_column">message</th>
						<th class="sortable normal_column">traceback</th>
					</tr>
				</thead>

				<tbody>
					<tr ng-repeat="item in instance.actionLog">
						<td><span ng-bind="item.request_id"></span></td>
						<td><span ng-bind="item.action"></span></td>
						<td><span ng-bind="item.start_time"></span></td>
						<td><span ng-bind="item.finish_time"></span></td>
						<td><span ng-bind="item.message"></span></td>
						<td><span ng-bind="item.traceback"></span></td>
					</tr>

				</tbody>
			</table>
			</div>
		</div><!-- // panel-body-wrapper -->
	</div><!-- // panel-body -->
</div><!-- // panel -->
