<div class="modal-header">
	<h3>Live Migration</h3>
</div>

<form name="form" class="form-validation" novalidate
	ng-submit="submit()">

	<div class="modal-body" ng-switch on="show">

		<div class="row" ng-switch-when="default">
			<div class="col-md-12">
				<div class="form-group">

					<!-- ip_addr -->
					<div class="form-control-wrapper" style="padding-bottom: 10px;">
						<label for="id_ip_addr" data-i18n="현재 호스트"></label>
						<div class="">
							<input type="text" name="hypervisor" class="form-control"
								required readonly value="{{localHypervisor}}" />
						</div>
					</div>
					
					<!-- associate_port -->
					<div class="form-control-wrapper" style="padding-bottom: 10px;">
						<label for="id_associate_port" data-i18n="새로운 호스트"></label>
						<select id="id_associate_port" name="associate_port"
							class="form-control" ng-model="reqData.hyperId"
							ng-options="item.hypervisor as item.hypervisor for item in HypervisorList"
							required>
							<option value="">Choose Hypervisor</option>
						</select>
						<div ng-show="form.associate_port.$error.required"
							data-i18n="Required"></div>
					</div>

					<!-- <div>
						<input type="checkbox" id="blockmigration"
							ng-model="reqData.blockmigration" />&nbsp;<label>Block
							Migration</label>
						<div ng-show="reqData.blockmigration==false"
							data-i18n="Currently, you can only block migration"></div>
					</div> -->

				</div>
				<!-- // form-group -->
			</div>
			<!-- // col -->


		</div>
		<!-- // row -->


		<div class="row" ng-switch-when="progress">
			<center>
				<img class="img-squre"
					ng-src="/mano/static/views/images/progress/progress01.gif"
					style="max-width: 100%; height: auto; align: center;" />
			</center>
			<h3 style="text-align: center;">Progress</h3>
		</div>

		<div class="row" ng-switch-when="fail">
			<center>
				<h3 style="text-align: center;">Fail</h3>
			</center>
			<center>
			<span ng-bind="message"></span>
			</center>
		</div>

		<div class="row" ng-switch-when="success">
			<center>
				<h3 style="text-align: center;">Success</h3>
			</center>
		</div>

		<div class="row" ng-switch-when="error">
			<center>
				<h3 style="text-align: center;">Error</h3>
			</center>
		</div>

	</div>
	<!-- // modal-body -->



	<!-- buttons -->
	<div class="modal-footer">

		<button type="button" class="btn btn-warning" ng-click="cancel()"
			data-i18n="Cancel"></button>

		<button type="submit" class="btn btn-primary"
			ng-disabled="!canSubmit()" data-i18n="Live Migration Instance"></button>

	</div>
	<!-- // modal-footer -->

</form>
<!-- // form -->