<div class="modal-header">
	<h3>유동 IP 할당</h3>
</div>

<form name="form" class="form-validation" novalidate ng-submit="submit(pool)">

	<div class="modal-body">



		<div class="row">
			<div class="col-md-6">
		
				<fieldset>
					<div class="form-group">
						<!-- pool -->
						<div class="form-control-wrapper">
							<label for="id_pool" data-i18n="Pool"></label>
							<select
								id="id_pool"
								name="pool"
								class="form-control"
								ng-model="pool"
								ng-options="o as o for o in pools"
								required
								>
								<option style="display: none;" value=""></option>
							</select>
							<div ng-show="form.pool.$error.required" data-i18n="필수 필드입니다."></div>
						</div>
		
					</div><!-- // form-group -->
				</fieldset><!-- // fieldset -->
		
			</div><!-- // col -->
		
			<div class="col-md-6">
			
				<div class="row">
					<div class="col-md-12">


						<h5>설명</h5>
						<div>주어진 유동 IP pool에서 유동 IP를 할당하세요.</div>
						<br/>
						<br/>
						
						<h5>프로젝트 Quotas</h5>
						
						유동 IP
						<span ng-bind="quotas.floatingip | number" /> 에서
						<span ng-bind="quotas.floatingip_used | number" /> 사용
						
						<progress>
							<bar ng-repeat="bar in quotasStacked" value="bar.value" type="{{bar.type}}"></bar>
						</progress>
						<br/>




					</div>
				</div>
		
			</div><!-- // col -->
		</div><!-- // row -->
		

	</div><!-- // modal-body -->

	<div class="modal-footer">

		<button type="button"
			class="btn btn-warning"
			ng-click="cancel()"
			data-i18n="취소"></button>

		<button type="submit"
			class="btn btn-primary"
			ng-disabled="!canSubmit()"
			data-i18n="IP 할당"></button>

	</div><!-- // modal-footer -->

</form><!-- // form -->