<!doctype html>
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Expires" content="Sat, 01 Dec 2001 00:00:00 GMT">

        <title>Mano</title>
        <meta name="description" content="">
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"> -->
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic" rel="stylesheet" type="text/css">
        <!-- Needs images, font... therefore can not be part of main.css -->
        <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="bower_components/weather-icons/css/weather-icons.min.css">
        <!-- end Needs images -->

        <link rel="stylesheet" href="styles/main.css">
        <link rel="stylesheet" href="styles/bootstrap-switch.min.css">
        <link rel="stylesheet" href="styles/tooltipster.css">
        <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
        
    </head>

    <body data-ng-app="app" id="app" class="app" data-custom-page data-off-canvas-nav data-ng-controller="AppCtrl" data-ng-class=" {'layout-boxed': admin.layout === 'boxed' } ">
        <!--[if lt IE 9]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!--
        <div ng-show="routeChange" class="loading">
        	Loading...
        </div>
        -->

        <section data-ng-include=" 'views/header.html' " id="header" class="header-container" data-ng-class=" {'header-fixed': admin.fixedHeader} " data-ng-controller="HeaderCtrl"></section>

        <div class="main-container">
            <aside data-ng-include=" 'views/nav.html' " id="nav-container" class="nav-container" data-ng-class=" {'nav-fixed': admin.fixedSidebar, 'nav-horizontal': admin.menu === 'horizontal', 'nav-vertical': admin.menu === 'vertical'}">
            </aside>

            <section data-ng-view id="content" class="content-container animate-fade-up"></section> 

			<section ng-show="show=='auth'" id="alarm-container" class="alarm-container page">

				<div>
					<tabset class="ui-tab">
						<tab heading="Alarm" ng-controller="AlarmsCtrl" ng-init="init()">
							<ul class="list-group" data-slim-scroll data-scroll-height="120px">
								<li data-ng-repeat="item in alarms | reverse" class="list-group-item">
									
									<div class="media">
		                                <span class="media-left media-icon"> 
		                                    <span class="round-icon sm" ng-class=" { 'bg-danger-custom': item.alarmGrade == 'AG001', 'bg-warning-custom': item.alarmGrade == 'AG002', 'bg-success-custom': item.alarmGrade == 'AG003' } "><i class="fa fa-bell-o"></i></span>
		                                    <span ng-bind="item.alarmGradeCdNm"></span>
		                                </span>
		                                <div class="media-body">
		                                    <span class="block">
		                                    	<span ng-click="deleteAlarm(item)"><span class="fa fa-check-square-o"></span></span>
		                                    	&nbsp;&nbsp;
		                                    	<span ng-bind="item.alarmName"></span>
		                                    </span>
		                                    <span data-ng-bind="item.alarmContents"></span>
		                                    <span class="block">
		                                    	<span data-ng-bind="item.registerTime"></span>Hour&nbsp;<span data-ng-bind="item.registerDate"></span>minute ago 
		                                    </span>
		                                </div>
		                            </div>

								</li>
							</ul>
						</tab>
						<tab heading="History" ng-controller="HistorysCtrl" ng-init="init()">
						<div class="custom-pre-scrollable"  resizefit style="min-height: 120px; max-height: 120px;">
							<!-- <ul class="list-group" data-slim-scroll data-scroll-height="120px"> -->
								<table id="osKsadmServices" class="table-condensed">
									<thead>
										<tr>
											<th class="sortable hide normal_column">Id</th>
											<th class="sortable normal_column">시작 시간</th>
											<th class="sortable normal_column">요청 ID</th>
											<th class="sortable normal_column">name</th>
											<th class="sortable normal_column">descriptor</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="item in historys" height="">
											<td><span ng-bind="item.create_at"></span></td>
											<td><span ng-bind="item.log_id"></span></td>
											<td><span ng-bind="item.name"></span></td>
											<td><span ng-bind="item.descriptor"></span></td>
										</tr>
									</tbody>
								</table>
 							<!-- </ul> -->
 							</div>
						</tab>
					</tabset>
				</div>
	        </section><!-- // alarm -->

        </div>

        <!-- <script src="http://maps.google.com/maps/api/js?sensor=false"></script> -->
        <script src="scripts/xml2json.min.js"></script>
        
        <script src="scripts/vendor.js"></script>

        <script src="scripts/ui.js"></script>
        <script src="scripts/app.js"></script>
        <script src="scripts/angular-bootstrap-switch.min.js"></script>
        <script src="scripts/bootstrap-switch.min.js"></script>
		<script src="scripts/angular-ui-tree.js"></script>
		<script src="scripts/jquery.tooltipster.min.js"></script>
		<script src="scripts/angular-cookies.js"></script>
		
		
		<!--add jch :: javascript 로딩  순서 주의 -->
		<script src="views/descriptor/descriptor.js"></script>
		
        <script src="views/descriptor/activeview.js"></script>
        <script src="views/descriptor/vld/vld-editor.js"></script>
        <script src="views/descriptor/vdu/vdu-editor.js"></script>
		<script src="views/descriptor/pnfd/pnfd-editor.js"></script>
		<script src="views/descriptor/cp/cp-editor.js"></script>
		<script src="views/descriptor/vnffgd/vnffgd-editor.js"></script>
		<script src="views/descriptor/vnfd/vnfd-editor.js"></script>
		<script src="views/descriptor/nsd/nsd-editor.js"></script>
		<script src="views/descriptor/nfc/nfc-editor.js"></script>
		<script src="views/descriptor/security/security-editor.js"></script>
		<script src="views/descriptor/policy/policy-editor.js"></script>
		<script src="views/descriptor/qos/qos-editor.js"></script>
		<script src="views/descriptor/lifecycle/lifecycle-editor.js"></script>
		<script src="views/descriptor/monitoring/monitoring-editor.js"></script>
		<script src="views/descriptor/ujp/ujp-editor.js"></script>
		<script src="views/descriptor/nfp/nfp-editor.js"></script>
		<script src="views/descriptor/vnfc/vnfc-editor.js"></script>
        <script src="views/verification/verification.js"></script>
		<script src="views/descriptor/nsd-vnfdep/vnfdep-editor.js"></script>
		<script src="views/descriptor/vnfrtd/vnfrtd-editor.js"></script>
		<script src="views/descriptor/df-constraint/constraint-editor.js"></script>
        <script src="views/management/management-policy.js"></script>
		<script src="views/volumes/volumes.js"></script>
		<script src="views/volumes/volumesService.js"></script>
		<script src="views/images/images.js"></script>
		<script src="views/images/imagesService.js"></script>
		
		<script src="views/instances/instances.js"></script>
		<script src="views/instances/instancesService.js"></script>
		<script src="views/instances/instancesChart.js"></script>
		<script src="views/networks/networks/networks.js"></script>
		<script src="views/networks/networks/networksService.js"></script>
		<script src="views/networks/router/routers.js"></script>
		<script src="views/networks/router/routersService.js"></script>
		<script src="views/systems/system.js"></script>
		<script src="views/systems/systemChart.js"></script>
		<script src="views/descriptor/constituent/constituent-editor.js"></script>
		<script src="views/descriptor/df/df-editor.js"></script>
		<script src="views/descriptor/nfvic/nfvic-editor.js"></script>
		<script src="views/descriptor/nfvi/nfvi-editor.js"></script>
		<script src="views/descriptor/cvnf/cvnf-editor.js"></script>
		<script src="views/descriptor/sdf/sdf-editor.js"></script>
		
		<!--add jch :: repository -->
		<script src="views/repository/repository.js"></script>
		<!-- jch add js -->
		<script src="views/flavors/flavors.js"></script>
		<script src="views/descriptorNew/descriptorNew.js"></script>
		<script src="views/pages/page.js"></script>
		 
		<script src="views/scaling/scaling.js"></script>
				
    </body>
</html>