<div class="modal-header">
	<h3>인터페이스 추가</h3>
</div>

<form name="form" class="form-validation" novalidate ng-submit="submit(router_interface)">

	<div class="modal-body">

		<fieldset>

			<div class="form-group">

				<div class="form-control-wrapper">
					<label for="id_subnet" data-i18n="서브넷"></label>
					<select
						id="id_subnet"
						name="id_subnet"
						class="form-control"
						ng-model="router_interface.subnet"
						ng-options="item as item.name for item in subnets"
						required>
						<option value="">서브넷 선택</option>
					</select>

					<div ng-show="form.id_subnet.$error.required" data-i18n="필수 필드입니다."></div>
				</div>
				
				<div class="form-control-wrapper">
					<label for="ip_address" data-i18n="IP 주소 (옵션)"></label>
					<input type="text"
						name="ip_address"
						class="form-control"
						ng-model="router_interface.ip_address"
						placeholder="이름"
						maxlength="100"
						/>

				</div>
				
				<div class="form-control-wrapper">
					<label for="name_router" data-i18n="라우터 이름"></label>
					<input type="text"
						name="name_router"
						class="form-control"
						ng-model="router_interface.router_name"
						placeholder="이름"
						maxlength="100"
						disabled
						/>

				</div>
				
				<div class="form-control-wrapper">
					<label for="id_router" data-i18n="라우터 ID"></label>
					<input type="text"
						name="id_router"
						class="form-control"
						ng-model="router_interface.router_id"
						placeholder="이름"
						maxlength="100"
						disabled
						/>

				</div>
				
			</div><!-- // form-group -->

		</fieldset><!-- // fieldset -->

	</div><!-- // modal-body -->

	<div class="modal-footer">

		<button type="button"
			class="btn btn-default pull-left"
			ng-disabled="!canRevert()"
			ng-click="revert()"
			data-i18n="초기화"></button>

		<button type="button"
			class="btn btn-warning"
			ng-click="cancel()"
			data-i18n="취소"></button>

		<button type="submit"
			class="btn btn-primary"
			ng-disabled="!canSubmit()"
			data-i18n="생성"></button>

	</div><!-- // modal-footer -->

</form><!-- // form -->