<div class="modal-header">
	<h3>Router 생성</h3>
</div>

<form name="form" class="form-validation" novalidate ng-submit="submit(router)">

	<div class="modal-body">

		<fieldset>

			<div class="form-group">
			
				<!-- 외부 네트워크 -->
				<div class="form-control-wrapper">
					<label for="id_gateway" data-i18n="외부 네트워크"></label>
					<select
						id="id_gateway"
						name="router_gateway"
						class="form-control"
						ng-model="router.select_external_gateway_info"
						ng-options="item as item.name for item in networks | filter: { 'router:external' : true } " 
						required>
						<option value="">네트워크 선택</option>
					</select>
					
					<div ng-show="form.router_gateway.$error.required" data-i18n="필수 필드입니다."></div>
				</div>
				
				<br/>

				<div class="form-control-wrapper">
					<label for="router_name" data-i18n="라우터 이름"></label>
					<input type="text"
						name="router_name"
						class="form-control"
						ng-model="router.name"
						placeholder="이름"
						maxlength="100"
						required
						disabled
						/>

					<div ng-show="form.router_name.$error.required" data-i18n="필수 필드입니다."></div>
				</div>

				<div class="form-control-wrapper">
					<label for="router_id" data-i18n="라우터 ID"></label>
					<input type="text"
						name="router_id"
						class="form-control"
						ng-model="router.id"
						placeholder="ID"
						maxlength="100"
						required
						disabled
						/>

					<div ng-show="form.router_id.$error.required" data-i18n="필수 필드입니다."></div>
				</div>
				
			</div><!-- // form-group -->

		</fieldset><!-- // fieldset -->

	</div><!-- // modal-body -->

	<div class="modal-footer">

		<button type="button"
			class="btn btn-default pull-left"
			ng-disabled="!canRevert()"
			ng-click="revert()"
			data-i18n="초기화"></button>

		<button type="button"
			class="btn btn-warning"
			ng-click="cancel()"
			data-i18n="취소"></button>

		<button type="submit"
			class="btn btn-primary"
			ng-disabled="!canSubmit()"
			data-i18n="생성"></button>

	</div><!-- // modal-footer -->

</form><!-- // form -->