        
<div class="nav-wrapper">
    <ul id="nav"
        class="nav"
        data-ng-controller="NavCtrl"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>

		<!-- Dashboard -->
		<li><a href="#/dashboard/dashboard"> <i class="fa fa-dashboard"></i><span data-i18n="Dashboard"></span> </a></li>

		<!-- System -->
        <li><a href="#/systems/index"> <i class="fa fa-desktop"></i><span data-i18n="System"></span> </a></li>

		<!-- Instance -->
        <li>
        	<a href="#/instances/index"><i class="fa fa-sitemap"></i><span data-i18n="VNF"></span></a>
        </li>
        
        <!-- Volumes -->
        <!-- <li>
            <a href="#/volumes/index"><i class="fa fa-database"></i><span data-i18n="Volume"></span></a>
        </li> -->
        
        <!-- Netowrks -->
        <li>
            <a href="#/networks/index"><i class="fa fa-cloud"></i><span data-i18n="Network"></span></a>
            <ul>
                <li><a href="#/networks/networks/index"><i class="fa fa-caret-right"></i><span data-i18n="Network"></span></a></li>
                <li><a href="#/networks/router/index"><i class="fa fa-caret-right"></i><span data-i18n="Router"></span></a></li>
                <li><a href="#/networks/topology/index"><i class="fa fa-caret-right"></i><span data-i18n="Topology"></span> </a></li>
            </ul>
        </li>
        
        <!-- Flavors -->
        <li>
            <a href="#/flavors/index"><i class="fa fa-cube"></i><span data-i18n="Flavor"></span></a>
        </li>
        
        <!-- Images -->
        <li>
            <a href="#/images/index"><i class="fa fa-hdd-o"></i><span data-i18n="Image"></span></a>
        </li>
        
        <!-- Repository -->
        <li>
            <a href="#/repository/index"><i class="fa fa-hdd-o"></i><span data-i18n="Repository"></span></a>
        </li>
        
        <!-- Descriptor -->
        <li>
            <a href="#/descriptorNew/index"><i class="fa fa-list-ol"></i><span data-i18n="Descriptor"></span></a>
        </li>
        <!-- li>
            <a href="#/veryfy/index"><i class="fa fa-list-ol"></i><span data-i18n="Descriptor"></span></a>
        </li -->
        
         <!-- test -->
        <!--li>
            <a href="#/test/index"><i class="fa fa-list-ol"></i><span data-i18n="Test"></span></a>
        </li-->
                
        <!-- Scaling -->
       <!--  <li>
            <a href="#/scaling/index"><i class="fa fa-files-o"></i><span data-i18n="Scaling"></span></a>
        </li> -->
               
		<!-- Descriptor -->
        <!-- <li>
            <a href="#/descriptor/index"><i class="fa fa-list-ol"></i><span data-i18n="Descriptor"></span></a>
        </li> -->
        
        <!-- Verification -->
        <!-- <li>
            <a href="#/verification/index"><i class="fa fa-lock"></i><span data-i18n="Verification"></span></a>
        </li> -->
        <!-- Policy -->
        <!-- <li>
            <a href="#/management/index"><i class="fa fa-cog"></i><span data-i18n="Management"></span></a>
        </li> -->
		
        
    </ul>
</div>