
<div ui-tree="ngTreeConfig" drag-enabled="false" class="nav">
	<!-- Nested node template -->
	<script type="text/ng-template" id="nodes_renderer.html">
  <div ui-tree-handle class="tree-node tree-node-content">
	<a class="btn btn-xs" ng-if="node.children.child && node.children.child.length > 0" 
		ng-click="toggle(this)"><span
        	class="glyphicon"
        	ng-class="{
          		'glyphicon-chevron-right': collapsed,
          		'glyphicon-chevron-down': !collapsed
        	}"></span>
	</a>
	<a data-nfv-tree-node-content ng-model="node"></a>
	<button ng-if="false && node.children != undefined" class="pull-right btn btn-info btn-xs" data-nodrag="" ng-click="newSubItem(node)" style="margin: 7.5px 2px;"><span class="fa fa-plus"></span></button>
  </div>
	<ol ng-if="node.children.child" class="treenav" ui-tree-nodes="" ng-model="node.children.child" ng-class="{hidden: collapsed}">
		<li ng-repeat="node in node.children.child" ui-tree-node ng-include="'nodes_renderer.html'" selected="false" data-collapsed="true">
											
		</li>
	</ol>
	</script>

	<ol class="treenav" ui-tree-nodes ng-model="ngModel">
		<li ng-repeat="node in ngModel" ui-tree-node ng-include="'nodes_renderer.html'" data-collapsed="true">
		 																			<!-- data-collapsed="($index > 0)"  -->
		 
								
		</li>
	</ol>
</div>