
<form name="form" class="form-validation" novalidate>
	<fieldset>

		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="row">
					<div class="col-md-6 text-left">
						<span class="glyphicon glyphicon-th"></span> Descriptor Viewer
					</div>
					<!-- // col -->

					<div class="col-md-6 text-right">

						<button type="submit" ng-if="editMode=='MODIFY'"
							ng-click="saveModify()"
							class="btn btn-sm btn-info">
							<span class="fa fa-floppy-o"></span>
							Save
						</button>
						<button type="submit" ng-if="editMode=='ADD'"
							ng-click="saveNew()"
							class="btn btn-sm btn-info">
							<span class="fa fa-floppy-o"></span>
							Save
						</button>
						<button type="button" ng-if="editMode=='XML'"
							ng-click="modifySelectedItem()"
							class="btn btn-sm btn-info" ng-class="{'disabled': ngModel == undefined}"
							 ng-disabled="ngModel == undefined">
							<span class="fa fa-pencil"></span>
							Edit
						</button>
						<button type="button" ng-click="addNew()"
							class="btn btn-sm btn-info" ng-class="{'disabled': editMode != 'XML'}"
							 ng-disabled="editMode != 'XML'">
							<span class="fa fa-plus"></span>
							Add
						</button>
						

						<button type="button" ng-click="deleteSelectedItem()"
							class="btn btn-sm btn-danger" ng-class="{'disabled': ngModel == undefined}" ng-disabled="ngModel == undefined">
							<span class="fa fa-trash"></span>
							Delete
						</button>
					</div>
					<!-- // col -->
				</div>
				<!-- // row -->
			</div>
			<!-- // header -->

			<div class="panel-body">
				<div class="custom-pre-scrollable" ng-style="style()" resizefit>
					<pre ng-if="editMode =='XML' && detailXMLView" style="width: 100%; max-height: 450px;">{{detailXMLView}}</pre>
				
				
<div class="form-group" ng-if="editMode !='XML' && ngModel">
	<table class="table">
		<caption></caption>

		<colgroup>
			<col width="40%" />
			<col width="60%" />
		</colgroup>

		<tbody>
			<tr>
				<th>id</th>
				<td>
					<span ng-if="editMode=='MODIFY'">{{ngModel.id}}</span>
					<div class="form-control-wrapper" ng-if="editMode=='ADD'">
						<input type="text"
							name="id"
							class="form-control"
							ng-model="ngModel.id"
							placeholder="id"
							maxlength="50"
							required
							/>
	
						<div ng-show="form.id.$error.required">Required</div>
					</div>
				</td>
			</tr>
			<tr>
				<th>vendor</th>
				<td>
					<div class="form-control-wrapper">
						<input type="text"
							name="vendor"
							class="form-control"
							ng-model="ngModel.vendor"
							placeholder="vendor"
							maxlength="50"
							required
							/>
	
						<div ng-show="form.vendor.$error.required">Required</div>
					</div>
				</td>
			</tr>
			<tr>
				<th>descriptor version</th>
				<td>
					<div class="form-control-wrapper">
						<input type="text"
							name="descriptor version"
							class="form-control"
							ng-model="ngModel.descriptor_version"
							placeholder="descriptor_version"
							maxlength="50"
							required
							/>
	
						<div ng-show="form.descriptor_version.$error.required">Required</div>
					</div>
				</td>
			</tr>
			
			<tr>
				<th>version</th>
				<td>
					<div class="form-control-wrapper">
						<input type="text"
							name="version"
							class="form-control"
							ng-model="ngModel.version"
							placeholder="version"
							maxlength="50"
							required
							/>
	
						<div ng-show="form.version.$error.required">Required</div>
					</div>
				</td>
			</tr>
			
			
			
			<tr>
				<th>vdu</th>
				<td>
					<div class="form-control-wrapper">
						<div data-nfv-checkbox-list
							data-group-name="'vdu'"
							data-items="options.vdu_list" 
							ng-model="ngModel.vdu.vdu_info">
						</div>
					</div>
				</td>
			</tr>
			
			<tr>
				<th>virtual link</th>
				<td>
					<div class="form-control-wrapper">
						<div data-nfv-checkbox-list
							data-group-name="'vld'"
							data-items="options.vld_list" 
							ng-model="ngModel.virtual_link.virtual_link_info">
						</div>
					</div>
				</td>
			</tr>
			
			<tr>
				<th>connection point</th>
				<td>
					<div class="form-control-wrapper">
						<div data-nfv-checkbox-list
							data-group-name="'cp'"
							data-items="options.cp_list" 
							ng-model="ngModel.connection_point.connection_point_info">
						</div>
					</div>
				</td>
			</tr>
			
			<tr>
				<th>lifecycle event</th>
				<td>
					<div class="form-control-wrapper">
						<div data-nfv-checkbox-list
							data-group-name="'lifecycle'"
							data-items="options.lifecycle" 
							ng-model="ngModel.lifecycle_event.lifecycle_event_info">
						</div>
					</div>
				</td>
			</tr>
			
			<tr>
				<th>dependency</th>
				<td>
					<div class="form-control-wrapper">
						<div data-nfv-checkbox-list
							data-group-name="'vnfd'"
							data-items="options.vnfd_list" 
							ng-model="ngModel.dependency.dependency_info">
						</div>
					</div>
				</td>
			</tr>
			
			<tr>
				<th>monitoring parameter</th>
				<td>
					<div class="form-control-wrapper">
						<div data-nfv-checkbox-list
							data-group-name="'monitoring'"
							data-items="options.monitoring" 
							ng-model="ngModel.monitoring_parameter.monitoring_parameter_info">
						</div>
					</div>
				</td>
			</tr>
			
			<tr>
				<th>deployment flavour</th>
				<td>
					<div class="form-control-wrapper">
						<div data-nfv-checkbox-list
							data-group-name="'df'"
							data-items="options.df_list" 
							ng-model="ngModel.deployment_flavour.deployment_flavour_info">
						</div>
					</div>
				</td>
			</tr>
			
			<tr>
				<th>auto scale policy</th>
				<td>
					<div class="form-control-wrapper">
						<div data-nfv-checkbox-list
							data-group-name="'policy'"
							data-items="options.policy" 
							ng-model="ngModel.auto_scale_policy.auto_scale_policy_info">
						</div>
					</div>
				</td>
			</tr>
			
			<tr>
				<th>manifest file</th>
				<td>
					<div class="form-control-wrapper">
						<input type="text"
							name="manifest file"
							class="form-control"
							ng-model="ngModel.manifest_file"
							placeholder="manifest_file"
							maxlength="50"
							required
							/>
	
					</div>
				</td>
			</tr>
			
			
			<tr>
				<th>manifest file security</th>
				<td>
					<div class="form-control-wrapper">
						<div data-nfv-checkbox-list
							data-group-name="'security'"
							data-items="options.security" 
							ng-model="ngModel.manifest_file_security.manifest_file_security_info">
						</div>
					</div>
				</td>
			</tr>
			
			
			
			
		</tbody>
	</table>
</div>


				</div>
				<!-- // panel-body-wrapper -->
			</div>
			<!-- // panel-body -->
		</div>
		<!-- // panel -->
	</fieldset>
</form><!-- // form -->