<div class="panel panel-default" data-ng-controller="ActiveViewDiagramCtrl" ng-init="init()">
	<script src="scripts/go-debug.js"></script>
	<div class="panel-heading">
		<div class="row">
			<div class="col-md-6 text-left">
				<span class="glyphicon glyphicon-th"></span>
				Active View
			</div><!-- // col -->

			<div class="col-md-6 text-right">

				<button type="button" ng-click="refreshData()"
					class="btn btn-sm btn-info" ng-class="{
						'active': !activeViewIsLoading,
						'disabled': activeViewIsLoading
					}"  ng-disabled="activeViewIsLoading">
					<span class="fa fa-refresh" ng-class="{
						'fa-spin': activeViewIsLoading
					}"></span>
					Reload
				</button>
<!-- 
				<button type="button" ng-click="refreshData('a')"
					class="btn btn-sm btn-danger" ng-class="{
						'active': !activeViewIsLoading,
						'disabled': activeViewIsLoading
					}"  ng-disabled="activeViewIsLoading">
					<span class="fa fa-refresh" ng-class="{
						'fa-spin': activeViewIsLoading
					}"></span>
					ex <strong>A</strong>
				</button>
				<button type="button" ng-click="refreshData('b')"
					class="btn btn-sm btn-danger" ng-class="{
						'active': !activeViewIsLoading,
						'disabled': activeViewIsLoading
					}"  ng-disabled="activeViewIsLoading">
					<span class="fa fa-refresh" ng-class="{
						'fa-spin': activeViewIsLoading
					}"></span>
					ex <strong>B</strong>
				</button> -->
			</div><!-- // col -->
		</div><!-- // row -->
	</div><!-- // header -->

	<div class="panel-body">
		<div class="custom-pre-scrollable" ng-style="style()" resizefit>
			<div id="diagramDescriptors" style="width:100%; height: 100%; min-height: 560px; background-color: #DAE4E4;" ></div>
		
		</div><!-- // panel-body-wrapper -->
	</div><!-- // panel-body -->
</div><!-- // panel -->
