
<div class="row">
	<div class="col-md-12 col-lg-6" ng-switch on="selectedNode.category">
		<div ng-switch-when="vld" data-nfv-vld-editor		ng-model="selectedData.vld" ng-edit-mode="editMode" data-selected-node="selectedNode" ng-descriptor-options="descriptorOptions" data-detail-xml-view="detailXMLView"></div>
		<div ng-switch-when="vdu" data-nfv-vdu-editor		ng-model="selectedData.vdu" ng-edit-mode="editMode" data-selected-node="selectedNode" ng-descriptor-options="descriptorOptions" data-detail-xml-view="detailXMLView"></div>
		<div ng-switch-when="pnfd" data-nfv-pnfd-editor 		ng-model="selectedData.pnfd" ng-edit-mode="editMode" data-selected-node="selectedNode" ng-descriptor-options="descriptorOptions" data-detail-xml-view="detailXMLView"></div>
		<div ng-switch-when="cp" data-nfv-cp-editor 			ng-model="selectedData.cp" ng-edit-mode="editMode" data-selected-node="selectedNode" data-detail-xml-view="detailXMLView"></div>
		<div ng-switch-when="vnffgd" data-nfv-vnffgd-editor 	ng-model="selectedData.vnffgd" ng-edit-mode="editMode" data-selected-node="selectedNode" ng-descriptor-options="descriptorOptions" data-detail-xml-view="detailXMLView"></div>
		<div ng-switch-when="vnfd" data-nfv-vnfd-editor 		ng-model="selectedData.vnfd" ng-edit-mode="editMode" data-selected-node="selectedNode" ng-descriptor-options="descriptorOptions" data-detail-xml-view="detailXMLView"></div>
		<div ng-switch-when="nsd" data-nfv-nsd-editor 		ng-model="selectedData.nsd" ng-edit-mode="editMode" data-selected-node="selectedNode" ng-descriptor-options="descriptorOptions" data-detail-xml-view="detailXMLView"></div>
		<div ng-switch-when="nfc" data-nfv-nfc-editor 		ng-model="selectedData.nfc" ng-edit-mode="editMode" data-selected-node="selectedNode" ng-descriptor-options="descriptorOptions" data-detail-xml-view="detailXMLView"></div>
		<div ng-switch-when="nfp" data-nfv-nfp-editor		ng-model="selectedData.nfp" ng-edit-mode="editMode" data-selected-node="selectedNode" ng-descriptor-options="descriptorOptions" data-detail-xml-view="detailXMLView"></div>
		<div ng-switch-when="vnfc" data-nfv-vnfc-editor		ng-model="selectedData.vnfc" ng-edit-mode="editMode" data-selected-node="selectedNode" ng-descriptor-options="descriptorOptions" data-detail-xml-view="detailXMLView"></div>
		<div ng-switch-when="vnfrtd" data-nfv-vnfrtd-editor		ng-model="selectedData.vnfrtd" ng-edit-mode="editMode" data-selected-node="selectedNode" ng-descriptor-options="descriptorOptions" data-detail-xml-view="detailXMLView"></div>
		<div ng-switch-when="constituent" data-nfv-constituent-editor		ng-model="selectedData.constituent" ng-edit-mode="editMode" data-selected-node="selectedNode" ng-descriptor-options="descriptorOptions" data-detail-xml-view="detailXMLView"></div>
		<div ng-switch-when="df" data-nfv-df-editor		ng-model="selectedData.df" ng-edit-mode="editMode" data-selected-node="selectedNode" ng-descriptor-options="descriptorOptions" data-detail-xml-view="detailXMLView"></div>
		<div ng-switch-when="nfvic" data-nfv-nfvic-editor		ng-model="selectedData.nfvic" ng-edit-mode="editMode" data-selected-node="selectedNode" ng-descriptor-options="descriptorOptions" data-detail-xml-view="detailXMLView"></div>
		<div ng-switch-when="nfvi" data-nfv-nfvi-editor		ng-model="selectedData.nfvi" ng-edit-mode="editMode" data-selected-node="selectedNode" ng-descriptor-options="descriptorOptions" data-detail-xml-view="detailXMLView"></div>
		<div ng-switch-when="cvnf" data-nfv-cvnf-editor		ng-model="selectedData.cvnf" ng-edit-mode="editMode" data-selected-node="selectedNode" ng-descriptor-options="descriptorOptions" data-detail-xml-view="detailXMLView"></div>
		<div ng-switch-when="sdf" data-nfv-sdf-editor		ng-model="selectedData.sdf" ng-edit-mode="editMode" data-selected-node="selectedNode" ng-descriptor-options="descriptorOptions" data-detail-xml-view="detailXMLView"></div>
		
		<div ng-switch-when="sub menu" ng-switch on="selectedNode.id">
			<div ng-switch-when="NSD-VNFDEP" data-nfv-vnfdep-editor 		ng-model="selectedData.vnfdep_list" ng-edit-mode="editMode" data-selected-node="selectedNode"></div>
			<div ng-switch-when="DF-CONSTRAINT" data-nfv-constraint-editor 		ng-model="selectedData.constraint_list" ng-edit-mode="editMode" data-selected-node="selectedNode"></div>
		
		</div>
		
		<div ng-switch-when="options" ng-switch on="selectedNode.id">
			<div ng-switch-when="SECURITY" data-nfv-security-editor 	ng-model="selectedData.security_list" ng-edit-mode="editMode" data-selected-node="selectedNode"></div>
			<div ng-switch-when="POLICY" data-nfv-policy-editor 	ng-model="selectedData.policy_list" ng-edit-mode="editMode" data-selected-node="selectedNode"></div>
			<div ng-switch-when="QOS" data-nfv-qos-editor 		ng-model="selectedData.qos_list" ng-edit-mode="editMode" data-selected-node="selectedNode"></div>
			<div ng-switch-when="LIFECYCLE" data-nfv-lifecycle-editor 		ng-model="selectedData.lifecycle_list" ng-edit-mode="editMode" data-selected-node="selectedNode"></div>
			<div ng-switch-when="MONITORING" data-nfv-monitoring-editor 		ng-model="selectedData.monitoring_list" ng-edit-mode="editMode" data-selected-node="selectedNode"></div>
			<div ng-switch-when="UJP" data-nfv-ujp-editor 		ng-model="selectedData.ujp_list" ng-edit-mode="editMode" data-selected-node="selectedNode"></div>
		
			<div ng-switch-default class="panel panel-default">
				<div class="panel-heading">
					<div class="row">
						<div class="col-md-6 text-left">
							<span class="glyphicon glyphicon-th"></span> Descriptor Viewer
						</div>
						<!-- // col -->
	
						<div class="col-md-6 text-right">
							<button type="button" class="btn btn-sm btn-info disabled" disabled>
								<span class="fa fa-pencil"></span>
								Edit
							</button>
							<button type="button" class="btn btn-sm btn-info disabled" disabled>
								<span class="fa fa-plus"></span>
								Add
							</button>
							<button type="button" class="btn btn-sm btn-danger disabled" disabled>
								<span class="fa fa-trash"></span>
								Delete
							</button>
						</div>
						<!-- // col -->
					</div>
					<!-- // row -->
				</div>
				<!-- // header -->
	
				<div class="panel-body">
					<div class="custom-pre-scrollable" ng-style="style()" resizefit>
						<p ng-show="r == undefined || selectedNode.id == ''" >Please select item at left tree.</p>
	
					</div>
					<!-- // panel-body-wrapper -->
				</div>
				<!-- // panel-body -->
			</div>
		</div>
		<div ng-switch-default class="panel panel-default">
			<div class="panel-heading">
				<div class="row">
					<div class="col-md-6 text-left">
						<span class="glyphicon glyphicon-th"></span> Descriptor Viewer
					</div>
					<!-- // col -->

					<div class="col-md-6 text-right">
						<button type="button" class="btn btn-sm btn-info disabled" disabled>
							<span class="fa fa-pencil"></span>
							Edit
						</button>
						<button type="button" class="btn btn-sm btn-info disabled" disabled>
							<span class="fa fa-plus"></span>
							Add
						</button>
						<button type="button" class="btn btn-sm btn-danger disabled" disabled>
							<span class="fa fa-trash"></span>
							Delete
						</button>
					</div>
					<!-- // col -->
				</div>
				<!-- // row -->
			</div>
			<!-- // header -->

			<div class="panel-body">
				<div class="custom-pre-scrollable" ng-style="style()" resizefit>
					<p ng-show="selectedNode == undefined || selectedNode.id == ''" >Please select item at left tree.</p>

				</div>
				<!-- // panel-body-wrapper -->
			</div>
			<!-- // panel-body -->
		</div>
	</div>
	<div class="col-md-12 col-lg-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="row">
					<div class="col-md-8 text-left">
						<span class="glyphicon glyphicon-th"></span> Descriptor Document
					</div>
					<!-- // col -->

					<div class="col-md-4 text-right">


					</div>
					<!-- // col -->
				</div>
				<!-- // row -->
			</div>
			<!-- // header -->

			<div class="panel-body">
				<div class="custom-pre-scrollable" ng-style="style()" resizefit>
					<img class="img-squre" check-image ng-src="{{detailImageView}}"  style="max-width: 100%; height: auto;"/>
				</div>
				<!-- // panel-body-wrapper -->
			</div>
			<!-- // panel-body -->
		</div>
		<!-- // panel -->
	</div>
	<!-- // panel -->
</div>
<!-- // panel -->

<script>



</script>