<div class="modal-header">
	<h3>Subnet 편집</h3>
</div>

<form name="form" class="form-validation" novalidate ng-submit="submit(subnet)">

	<div class="modal-body">
		<div>
	         <ol class="breadcrumb-alt"  >
	             <li><a href="javascript:;" ng-class="{active : stage == 'step1'  }" ng-click="setStage('step1')">서브넷</a></li>
	             <li><a href="javascript:;"ng-class="{active : stage == 'step2'  }" ng-click="setStage('step2')">서브넷 세부정보</a></li>
	             <li><a >&nbsp;</a></li>
	         </ol>
         </div>
         
		<fieldset>
			
			
			<div ng-show="stage == 'step1'" class="col-md-11">
				<div class="form-group">
	
					
					<div class="form-control-wrapper">
						<label for="subnet_name" data-i18n="서브넷 이름" ></label>
						<input type="text"
							name="subnet_name"
							class="form-control"
							ng-model="subnet.name"
							placeholder="서브넷 이름"
							maxlength="100"
							/>
					</div>
					
					<div class="form-control-wrapper">
						<label for="subnet_name" data-i18n="네트워크 주소" ></label>
						<input type="text"
							name="cidr"
							class="form-control"
							ng-model="subnet.cidr"
							placeholder="CIDR 포맷의 네트워크 주소 (예, 192.168.0.0/24)"
							maxlength="100"
							disabled
						/>
					</div>
					
					
					<div class="form-control-wrapper">
						<label for="gateway_ip" data-i18n="게이트웨이 IP" ></label>
						<input type="text"
							name="gateway_ip"
							class="form-control"
							ng-model="subnet.gateway_ip"
							placeholder="게이트웨이 IP"
							maxlength="100"
							ng-required="subnet.no_gateway == false"
							ng-pattern="ipaddr_pattern"
							/> 
							
						<div ng-show="form.gateway_ip.$error.required" data-i18n="필수 필드입니다."></div>
						<div ng-show="form.gateway_ip.$error.pattern" data-i18n="IP 주소(예: 192.168.0.254) 형식으로 입력해주세요 "></div>
					</div>
					
					<div class="form-control-wrapper">
						<label for="no_gateway" data-i18n="게이트웨이 비활성" class="margin-bottom-0"></label>
						<input type="checkbox"
							name="no_gateway"
							class="form-control margin-top-0"
							ng-model="subnet.no_gateway"
							/>
					</div>
					
				</div><!-- // form-group -->
			</div>
			
			
			<div ng-show="stage == 'step2'" class="col-md-11">
				<div class="form-group">
	
					
					<div class="form-control-wrapper">
						<label for="enable_dhcp" data-i18n="DHCP 사용" class="margin-bottom-0"></label>
						<input type="checkbox"
							name="enable_dhcp"
							class="form-control margin-top-0"
							ng-model="subnet.enable_dhcp"
							/>
					</div>
					
				
					<div class="form-control-wrapper">
						<label for="dnsserver" data-i18n="DNS 네임 서버" ></label>
						<div>
							  <h6  class="margin-top-0 margin-bottom-5">
							  	이 서브넷에 대한 DNS 네임 서버의 IP 주소 목록입니다. 한 줄에 하나의 항목입니다.
							  </h6>
						</div>
						<textarea 
							name="dns_nameservers"
							class="form-control"
							ng-model="subnet.dns_nameservers_text"
							></textarea>
							
						<div ng-show="form.dns_nameservers.$error.pattern" data-i18n="포맷에 맞게 입력해주세요"></div>	
					</div>
					
					<div class="form-control-wrapper">
						<label for="host_routes" data-i18n="호스트 라우터" ></label>
						<div>
							<h6  class="margin-top-0 margin-bottom-5">
							  호스트에 통보되는 추가 루트. 각 항목은 &lt;destination_cidr&gt;,&lt;nexthop&gt; 
							  <br/>(예: 192.168.200.0/24, 10.56.1.254)형식으로 한 줄에 한 항목을 기입합니다.  
							</h6>
						</div>
						<textarea 
							name="host_routes"
							class="form-control"
							ng-model="subnet.host_routes_text"
							></textarea>
							
						<div ng-show="form.host_routes.$error.pattern" data-i18n="포맷에 맞게 입력해주세요"></div>		
					</div>
					

					
				</div><!-- // form-group -->
			</div>
		</fieldset><!-- // fieldset -->

	</div><!-- // modal-body -->

	<div class="modal-footer">

		<button type="button"
			class="btn btn-warning"
			ng-click="cancel()"
			data-i18n="취소"></button>

		<button type="submit" 
			class="btn btn-primary"
			ng-disabled="!canSubmit()"
			>{{stage=='step2'? '저장': '다음'}}</button>

	</div><!-- // modal-footer -->

</form><!-- // form -->