



	<div  class="col-md-12">
		Flavor에 대한 접근 권한을 제어할 수 있습니다. 필요한 프로젝트를 왼쪽 열에서 오른쪽 열로 이동 시키십시오. 오른쪽 열에 있는 프로젝트만 이 flavor을 사용할 수 있습니다. 오른쪽 열에 프로젝트가 하나도 없으면 모든 프로젝트는 이 flavor을 사용할 수 있습니다.
	</div>


    <div class="row">
        <div class="col-md-6">

        </div>
        <div class="col-md-6">

        </div>
    </div>
    
    
	<div class="row">
        <div class="col-md-6">
			&nbsp;
        </div>
        <div class="col-md-6">

        </div>
    </div>
    
    
<div class="row">
	<div class="col-md-6">
	
            <div class="panel panel-default">
                <div class="panel-heading bg-primary clearfix">
                	
                	<div class="form-group" style="margin-left: -15px;margin-right: -15px;">
                		<div class="col-sm-5 padding-top-10">프로젝트</div>
                		<div class="col-sm-7" ><input type='text' ng-model='search.allProject' class="form-control" ><span class="icon glyphicon glyphicon-search"></span></div>
                	</div>
                </div>
                <ul class="list-group">
                	<li class="list-group-item" ng-repeat="item in allprojects | filter:searchAllProjects">
                		<div class="row">
                			<div class="col-sm-9 text-left">{{item.name}}</div>
                			<div class="col-sm-3 text-right" ><a ng-click="addProject(item)" class="btn btn-info btn-direction" >+</a></div>
                		</div>
                	</li>
                	<li ng-if="isExistAllProjects">
                		11
                	</li>
                </ul>
            </div>
	</div>
	<div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading bg-primary clearfix">

                	<div class="form-group" style="margin-left: -15px;margin-right: -15px;">
                		<div class="col-sm-5 padding-top-10">프로젝트</div>
                		<div class="col-sm-7" ><input type='text' ng-model='search.project' class="form-control" ><span class="icon glyphicon glyphicon-search"></span></div>
                	</div>
                </div>
                <ul class="list-group">
                	<li class="list-group-item" ng-repeat="item in flavor.projects | filter:searchProjects">
                		<div class="row">
                			<div class="col-sm-9 text-left">{{item.name}}</div>
                			<div class="col-sm-3 text-right" ><a ng-click="removeProject(item)" class="btn btn-info btn-direction" >-</a></div>
                		</div>
                	</li>
                </ul>
            </div>
            
		
	</div>
</div>