<div class="modal-header">
	<h3>Flavor 추가 사양</h3>
</div>

<form name="form" class="form-validation" novalidate ng-submit="submit(flavor)">

	<div class="modal-body">
	
		

		<div class="row">
			
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-6 ">
						<h4>추가 사양</h4>
					</div>
					<div class="col-md-6 text-right">
						<a href
							ng-click="CreateFlavorExtrasForm(flavor)"
							class="btn btn-sm btn-info"> 생성</a>
					</div><!-- // col -->
				</div>
				<div>
				      <table class="table table-bordered">
				          <thead>
				              <tr>
				                  <th></th>
				                  <th>키</th>
				                  <th>값</th>
				                  <th>실행</th>
				              </tr>
				          </thead>
				          <tbody>
				              <tr ng-repeat="(key,val) in extras">
				                  <td></td>
				                  <td>{{key}}</td>
				                  <td>{{val}}</td>
				                  <td>
				                  	<a href
										ng-click="UpdateFlavorExtrasForm(flavor,key,val)"
										class="btn btn-sm btn-info"> 편집</a>
									<a href
										ng-click="DeleteFlavorExtrasForm(key)"
										class="btn btn-sm btn-danger"> 삭제</a>
				                  </td>
				              </tr>
				               <tr ng-show="extras == null ||  getKeys(extras).length == 0 ">
				                  <td class="text-center" colspan="4">표시할 항목이 없습니다.</td>
				              </tr>
				          </tbody>
				      </table>
				</div>



			</div>
		
		</div><!-- // row -->
		
		
		
	</div><!-- // modal-body -->

	<div class="modal-footer">


		<button type="button"
			class="btn btn-warning"
			ng-click="cancel()"
			data-i18n="확인"></button>


	</div><!-- // modal-footer -->

</form><!-- // form -->