<div class="modal-header">
	<h3>Flavor 추가 사양 생성</h3>
</div>

<form name="form" class="form-validation" novalidate ng-submit="submit(extras)">

	<div class="modal-body">
	
		
		<div class="row">
		
			<div class="col-md-12">
				<fieldset>
					<div class="form-group">

		
						
						<!-- 키 -->
						<div class="form-control-wrapper" >
							<label for="id_key" data-i18n="키"></label>
							<input type="text"
								id="id_key"
								name="key"
								class="form-control"
								ng-model="extras.key"
								maxlength="256"
								disabled
								/>
		
							<div ng-show="form.key.$error.required" data-i18n="필수 필드입니다."></div>
						</div>
						
						<!-- 값 -->
						<div class="form-control-wrapper">
							<label for="id_value" data-i18n="값"></label>
							<input type="text"
								id="id_value"
								name="value"
								class="form-control"
								ng-model="extras.value"
								maxlength="256"
								required
								/>
		
							<div ng-show="form.value.$error.required" data-i18n="필수 필드입니다."></div>
						</div>
		
		
					</div><!-- // form-group -->
				</fieldset><!-- // fieldset -->
				
			</div><!-- // col -->
			
		</div><!-- // row -->
		
		
	</div><!-- // modal-body -->

	<div class="modal-footer">


		<button type="button"
			class="btn btn-warning"
			ng-click="cancel()"
			data-i18n="취소"></button>

		<button type="submit"
			class="btn btn-primary"
			ng-disabled="!canSubmit()"
			data-i18n="저장"></button>

	</div><!-- // modal-footer -->

</form><!-- // form -->