<div class="modal-header">
	<h3>Flavor 편집</h3>
</div>

<form name="form" class="form-validation" novalidate ng-submit="submit(flavor)">

	<div class="modal-body">
	
		<tabset class="ui-tab">
		    <tab heading="Flavor 정보">
		    	<div ng-include=" 'views/flavors/edit_flavor_info.html' "></div>
		    </tab>
		    <tab heading="접근 권한">
		    	<div ng-include=" 'views/flavors/edit_access_permission.html' "></div>
		    </tab>
		    
		</tabset>
		
	</div><!-- // modal-body -->

	<div class="modal-footer">


		<button type="button"
			class="btn btn-warning"
			ng-click="cancel()"
			data-i18n="취소"></button>

		<button type="submit"
			class="btn btn-primary"
			ng-disabled="!canSubmit()"
			data-i18n="저장"></button>

	</div><!-- // modal-footer -->

</form><!-- // form -->