<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eluon.pim.repository.SubscriptionRepository">

    <resultMap id="SubscriptionInfoMap" type="SubscriptionInfoVO">
    	<result property="no" column="no" />
    	<result property="type" column="type" />
    	<result property="targetNo" column="target_no" />
    	<result property="notifyUrl" column="notify_url" />
    	<result property="clientId" column="client_id" />
    </resultMap>

	<select id="getSubscriptionList" resultMap="SubscriptionInfoMap">
		SELECT 
			no, type, target_no, notify_url, client_id 
		FROM 
			subscription_info 
	</select>
	<insert id="insertSubscription" parameterType="SubscriptionInfoVO" >
		INSERT INTO subscription_info (
			no, type, target_no, notify_url, client_id 
		) VALUES ( 
			#{no}, #{type}, #{targetNo}, #{notifyUrl}, #{clientId} 
		)
	</insert>
	
	<delete id="deleteSubscription" parameterType="SubscriptionInfoVO" >
		DELETE FROM subscription_info
		WHERE no=#{no} and client_id=#{clientId} 
	</delete>
</mapper>