<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eluon.pim.repository.SwitchRepository">

	<resultMap id="switchInfoMap" type="SwitchVO">
		<result property="switchNo" column="no"/>
		<result property="switchName" column="name"/>
		<result property="switchIP" column="ip"/>		
		<result property="status" column="status"/>		
		<result property="statusTime" column="status_time"/>		
		<result property="regTime" column="reg_time"/>		
		<result property="nicInfo" column="nic_info"/>		
	</resultMap>
	
	<resultMap id="switchStatInfoMap" type="SwitchStatVO">
		<result property="no" column="no"/>
		<result property="switchInfoNo" column="switch_info_no"/>
		<result property="statType" column="stat_type"/>	
		<result property="statTime" column="stat_time"/>		
		<result property="nicUsage" column="nic_usage"/>		
	</resultMap>
   
    <select id="getSwitchList" resultMap="switchInfoMap">
    	SELECT 
    		no, name, ip, status, status_time, reg_time, nic_info 
    	FROM 
    		switch_info 
    </select>
    
    <select id="getSwitch" parameterType="int" resultMap="switchInfoMap">
    	SELECT 
    		no, name, ip, status, status_time, reg_time, nic_info 
    	FROM 
    		switch_info 
    	WHERE 
    		no=#{value} 
    </select>
    
    <insert id="insertSwitchInfo" parameterType="SwitchVO" useGeneratedKeys="true" keyProperty="switchNo" keyColumn="no">
    	INSERT INTO switch_info (
    		name, ip, reg_time 
    	) VALUES ( #{switchName}, #{switchIP}, #{regTime} )
    </insert>
    
    <!--  SWITCH 삭제 시 key에 해당하는 값을 각 테이블에서 모두 지운다.  -->
    <delete id="deleteSwitchInfo" parameterType="int">
   		DELETE FROM switch_info 
   		WHERE no=#{value} 
    </delete>
    
    <delete id="deleteSwitchStat10S" parameterType="int">
    	DELETE FROM switch_stat_10s 
    	WHERE no=#{value}
    </delete>
    
    <delete id="deleteSwitchStatInfo" parameterType="int">
    	DELETE FROM switch_stat_info 
    	WHERE switch_info_no=#{value}
    </delete>
    
    <delete id="deleteSwitchEventInfo" parameterType="int">
    	DELETE FROM switch_event_info
    	WHERE target_no=#{value} 
    </delete>
    
    <delete id="deleteSwitchAlarmInfo" parameterType="int">
    	DELETE FROM switch_alarm_info
    	WHERE target_no=#{value} 
    </delete>
    
    <select id="getSwitchStatInfo" parameterType="StatParamVO"  resultMap="switchStatInfoMap">
    	SELECT 
    		no, switch_info_no, stat_type, stat_time, nic_usage 	
    	FROM 
    		switch_stat_info
    	WHERE 	
    		stat_time <![CDATA[ >= ]]> #{startTime} and 
    		stat_time <![CDATA[ <= ]]> #{endTime} and 
    		stat_type = #{statType} 
    			
    </select>
</mapper>