
<div data-ng-controller="VerificationCtrl"
	ng-init="init()"
	class="page">

	<style>
		.angular-ui-tree-handle {
		    cursor: default;
		    border: none;
		    padding: 0;
		    display: block;
		}
		.nav-container .treenav>li>.tree-node-content>a>i {
		    display: inline-block;
		    margin-right: 10px;
		    width: 20px;
		    line-height: 1;
		    text-align: center;
		    font-size: 16px;
		    -moz-transition: all .2s ease-in-out;
		    -webkit-transition: all .2s ease-in-out;
		    -o-transition: all .2s ease-in-out;
		    transition: all .2s ease-in-out;
		}
		.nav-container .treenav>li {
		    position: relative;
		    min-width: 250px;
		    margin: 0;
		    text-align: left;
		    font-weight: 700;
		    -moz-transition: all .2s ease-in-out;
		    -webkit-transition: all .2s ease-in-out;
		    -o-transition: all .2s ease-in-out;
		    transition: all .2s ease-in-out;
		}
		.nav-container .treenav>li>div>a.highlight {
		    color: #709A27;
		}
		.nav-container .treenav>li:first-child>a.node-type-icon {
		    border-top: 0;
		}
		.nav-container .treenav>li:hover>a.node-type-icon {
		    background-color: #e4e4e4;
		    color: #50bafe;
		}
		.nav-container .treenav a.node-type-icon:hover {
		    text-decoration: none;
		}
		.nav-container .treenav>li>div>a.node-type-icon {
		    position: relative;
		    display: inline-block;
/* 		    padding: 15px 15px; */
		    -moz-transition: all .2s ease-in-out;
		    -webkit-transition: all .2s ease-in-out;
		    -o-transition: all .2s ease-in-out;
		    transition: all .2s ease-in-out;
		}
		.treenav>li>div>a.node-type-icon:hover, .treenav>li>div>a.node-type-icon:focus {
		    text-decoration: none;
		    background-color: #eee;
		}
		.nav-container .treenav a.node-type-icon {
		    font-size: 13px;
		    color: #767676;
		    -moz-transition: all .2s ease-in-out;
		    -webkit-transition: all .2s ease-in-out;
		    -o-transition: all .2s ease-in-out;
		    transition: all .2s ease-in-out;
		}
		.treenav>li>div>a.node-type-icon {
		    position: relative;
		    display: block;
 		    padding: 10px 10px;
		}
		.treenav>li>div>a.node-type-icon.is-leaf-node-type-icon {
 		    padding: 7px 10px;
 		    margin-left: 20px;
		}
		.treenav .label.is-leaf-node {
		    background-color: #E3F7C0;
    		color: #333;
		}
		.treenav .left-indent {
			margin-left: 27px;
		}
		.treenav .fa-cog~.label-success {
		    background-color: #465629;
		}
	</style>
	<div class="row">

		
		<!-- List -->
		<div class="col-md-12 col-lg-5">
			<div class="row">
				<div class="col-md-6 col-lg-6">
					<div class="panel panel-default">
						<div class="panel-heading">
							<div class="row">
								<div class="col-md-12 text-left">
									<span class="glyphicon glyphicon-th">
										<span data-i18n="Verification"></span>
									</span>
								</div><!-- // col -->
		
								<!-- // col -->
							</div><!-- // row -->
						</div><!-- // panel-heading -->
		
						<div class="panel-body">

							<div class="nav-container custom-pre-scrollable" ng-style="style()" resizefit>
								<ul id="lstVerification" class="nav">
									<li ng-repeat="item in verifications">
										<a href
											ng-click="selectVerification(item)"
											ng-class="{'highlight' : item.isSelected}">
											<i class="fa fa-lock"></i>
											<span class="label label-success">{{item.name}}</span>
										</a>
									</li>
								</ul>
								<div ng-show="mustSelectVerification" data-i18n="Required"></div>
							</div>
							
						</div><!-- panel -->
					</div><!-- // panel-body -->
				</div><!-- // panel-body -->
				
				<div class="col-md-6 col-lg-6">
					<div class="panel panel-default">
						<div class="panel-heading">
							<div class="row">
								<div class="col-md-12 text-left">
									<span class="glyphicon glyphicon-th"> <span data-i18n="Descriptor"></span></span>
								</div><!-- // col -->
		
								<!-- // col -->
							</div><!-- // row -->
						</div><!-- // panel-heading -->
		
						<div class="panel-body">
		
							<div class="nav-container custom-pre-scrollable" ng-switch on="reqData.Menu" ng-style="style()" resizefit>
								<div ng-switch-when="NSD" class="form-control-wrapper">
									<label for="descriptor" data-i18n="NSD"></label>
									<div data-nfv-radio-list
										data-group-name="'descriptor'"
										data-items="descriptorOptions.nsd" 
										ng-model="selectedDescriptor"
										data-allow-none="false">
									</div>
								</div>
								<div ng-switch-when="VNFD"  class="form-control-wrapper">
									<label for="descriptor" data-i18n="VNFD"></label>
									<div data-nfv-radio-list
										data-group-name="'descriptor'"
										data-items="descriptorOptions.vnfd" 
										ng-model="selectedDescriptor"
										data-allow-none="false">
									</div>
								</div>
								<div ng-show="mustSelectDescriptor" data-i18n="Required"></div>
							</div><!-- panel -->
							
						</div><!-- panel -->
					</div><!-- // panel-body -->
				</div>
			</div>
		</div>
		<!-- // List -->
		
		<div class="col-md-12 col-lg-7">
			<div class="row">
				
				<!-- List -->
				<div class="col-md-4 col-lg-4">
					<div class="panel panel-default">
						<div class="panel-heading">
							<div class="row">
								<div class="col-md-12 text-left">
									<span class="glyphicon glyphicon-th"> <span data-i18n="Propertiy"></span></span>
								</div><!-- // col -->
		
								<!-- // col -->
							</div><!-- // row -->
						</div><!-- // panel-heading -->
		
						<div class="panel-body">

							<div class="nav-container custom-pre-scrollable" ng-style="style()" resizefit>
								<div class="form-control-wrapper">
									<div data-nfv-radio-list
										data-group-name="'property'"
										data-items="property" 
										ng-model="selectedProperty"
										data-allow-none="false">
									</div>
									<div ng-show="mustSelectProperty" data-i18n="Required"></div>
								</div>
							</div>
							
						</div><!-- panel -->
					</div><!-- // panel-body -->
				</div>
				<!-- // List -->
				
				<!-- List -->
				<div class="col-md-4 col-lg-4">
					<div class="panel panel-default">
						<div class="panel-heading">
							<div class="row">
								<div class="col-md-12 text-left">
									<span class="glyphicon glyphicon-th"> <span data-i18n="Policy"></span></span>
								</div><!-- // col -->
		
								<!-- // col -->
							</div><!-- // row -->
						</div><!-- // panel-heading -->
		
						<div class="panel-body">
		
							<div class="nav-container custom-pre-scrollable" ng-style="style()" resizefit>
								<div class="form-control-wrapper">
									<div ng-if="descriptorOptions.policy" data-nfv-checkbox-list
										data-group-name="'policy'"
										data-items="descriptorOptions.policy" 
										ng-model="checkedPolicies">
									</div>
									<div ng-show="mustOneMorePolicies" data-i18n="Required"></div>
								</div>
							</div><!-- panel -->
							
						</div><!-- panel -->
					</div><!-- // panel-body -->
				</div>
				<!-- // List -->
				
				<!-- List -->
				<div class="col-md-4 col-lg-4">
					<div class="panel panel-default">
						<div class="panel-heading">
							<div class="row">
								<div class="col-md-12 text-left">
									<span class="glyphicon glyphicon-th"> <span data-i18n="Compute View"></span></span>
								</div><!-- // col -->
		
								<!-- // col -->
							</div><!-- // row -->
						</div><!-- // panel-heading -->
		
						<div class="panel-body">
							<div class="nav-container " resizefit style="min-height: 70px; max-height: 150px;">
								<div class="nav-container ">
									<div class="form-control-wrapper">
										<div data-nfv-radio-list
											data-group-name="'host_list'"
											data-items="descriptorOptions.host_list" 
											ng-model="selectedHost"
											data-allow-none="false">
										</div>
										<div ng-show="mustSelectHost" data-i18n="Required"></div>
									</div>
								</div>
<!-- panel -->
							</div>
						</div><!-- panel -->

					</div><!-- // panel-body -->
				</div>
				<div class="text-center">
					
					<button type="submit" ng-click="requestVerification()" class="btn btn-info" >
						<span data-i18n="Request Verification"></span>
					</button>
					
				</div>
				<!-- // List -->
			</div>
		</div>
		
		
	</div>

</div><!-- // InstancesCtrl -->