
<form name="form" class="form-validation" novalidate>
	<fieldset>

		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="row">
					<div class="col-md-6 text-left">
						<span class="glyphicon glyphicon-th"></span> Descriptor Viewer
					</div>
					<!-- // col -->

					<div class="col-md-6 text-right">

						<button type="submit" ng-if="editMode=='MODIFY'"
							ng-click="saveModify()"
							class="btn btn-sm btn-info">
							<span class="fa fa-floppy-o"></span>
							Save
						</button>
						<button type="submit" ng-if="editMode=='ADD'"
							ng-click="saveNew()"
							class="btn btn-sm btn-info">
							<span class="fa fa-floppy-o"></span>
							Save
						</button>
						<button type="button" ng-if="editMode=='XML'"
							ng-click="modifySelectedItem()"
							class="btn btn-sm btn-info" ng-class="{'disabled': ngModel == undefined}"
							 ng-disabled="ngModel == undefined">
							<span class="fa fa-pencil"></span>
							Edit
						</button>
						<button type="button" ng-click="addNew()"
							class="btn btn-sm btn-info" ng-class="{'disabled': editMode != 'XML'}"
							 ng-disabled="editMode != 'XML'">
							<span class="fa fa-plus"></span>
							Add
						</button>
						

						<button type="button" ng-click="deleteSelectedItem()"
							class="btn btn-sm btn-danger" ng-class="{'disabled': ngModel == undefined}" ng-disabled="ngModel == undefined">
							<span class="fa fa-trash"></span>
							Delete
						</button>
					</div>
					<!-- // col -->
				</div>
				<!-- // row -->
			</div>
			<!-- // header -->

			<div class="panel-body">
				<div class="custom-pre-scrollable" ng-style="style()" resizefit>
					<pre ng-if="editMode =='XML' && detailXMLView" style="width: 100%; max-height: 450px;">{{detailXMLView}}</pre>
				
				
<div class="form-group" ng-if="editMode !='XML' && ngModel">
	<table class="table">
		<caption></caption>

		<colgroup>
			<col width="40%" />
			<col width="60%" />
		</colgroup>

		<tbody>
			<tr ng-if="editMode=='ADD'">
				<th>id</th>
				<td>
					<input type="text"
							name="id"
							class="form-control"
							placeholder="id"
							maxlength="50"
							required
							readonly
							value ="{{ngModel.vnf_flavour_id_reference !='' ? ngModel.vnf_flavour_id_reference : ''}}{{ngModel.vnf_reference_key.split('|')[1] != undefined ? '_'+ngModel.vnf_reference_key.split('|')[1] : ''}}"
							placeholder="id"
						/>
				</td>
			</tr>	

	
			<tr ng-if="editMode=='ADD'">
				<th>vnf flavour id reference</th>
				<td>
					<div class="form-control-wrapper">
						<div class="radio">
						<label>
							<!-- <input type="radio" name="vnf_flavour_id_reference " value="" ng-model ="ngModel.vnf_flavour_id_reference"  checked="true"/>None<br/> -->
							<input type="radio" name="vnf_flavour_id_reference " value="epc_small" ng-model ="ngModel.vnf_flavour_id_reference"  />epc_small<br/>
	                        <input type="radio" name="vnf_flavour_id_reference " value="epc_medium" ng-model ="ngModel.vnf_flavour_id_reference"/>epc_medium<br/>
						    <input type="radio" name="vnf_flavour_id_reference " value="epc_large" ng-model ="ngModel.vnf_flavour_id_reference"/>epc_large<br/>
							<div ng-show="form.vnf_flavour_id_reference.$error.required" ng-model ="ngModel.vnf_flavour_id_reference">Required</div>
						</label>
						</div>
						<div ng-show="mustSelectVnfFlavour" data-i18n="Required"></div>
					</div>
				</td>
			</tr>			
			
			<tr ng-if="editMode=='ADD'">
				<th>vnf reference</th>
				<td>
					<div class="form-control-wrapper">
<!-- 						<div class="radio">
							<label>
							<input type="radio" value="" ng-model="ngModel.title" ng-change="checkedChangeNone()" checked="true">
			             	 None
							</label>
						</div> -->
						<div class="radio" ng-repeat="item in options.vnfd_list">
							<label>
			            	<input type="radio"  value="{{item.key}}|{{item.title}}" ng-model="ngModel.vnf_reference_key">
			            	{{item.title}}
			            	</label>
			            </div>
			            <div ng-show="mustSelectVnfReference" data-i18n="Required"></div>
					</div>				
				</td>
			</tr>
			
			<!-- MODIFY 의 경우. -->
			<tr ng-if="editMode=='MODIFY'">
				<th>id</th>
				<td>
					<span ng-if="editMode=='MODIFY'">{{ngModel.id}}</span>
				</td>
			</tr>	

	
			<tr ng-if="editMode=='MODIFY'">
				<th>vnf flavour id reference</th>
				<td>
					<div class="form-control-wrapper">
						<div class="radio">
						<label>
							<!-- <input type="radio" name="vnf_flavour_id_reference " value="" ng-model ="ngModel.vnf_flavour_id_reference"  checked="true"/>None<br/> -->
							<input type="radio" name="vnf_flavour_id_reference " value="epc_small" ng-model ="ngModel.vnf_flavour_id_reference"  disabled/>epc_small<br/>
	                        <input type="radio" name="vnf_flavour_id_reference " value="epc_medium" ng-model ="ngModel.vnf_flavour_id_reference" disabled/>epc_medium<br/>
						    <input type="radio" name="vnf_flavour_id_reference " value="epc_large" ng-model ="ngModel.vnf_flavour_id_reference" disabled/>epc_large<br/>
							<div ng-show="form.vnf_flavour_id_reference.$error.required" ng-model ="ngModel.vnf_flavour_id_reference">Required</div>
						</label>
						</div>
					</div>
				</td>
			</tr>			
			
			<tr ng-if="editMode=='MODIFY'">
				<th>vnf reference</th>
				<td>
					<div class="form-control-wrapper">
<!-- 						<div class="radio">
							<label>
							<input type="radio" value="" ng-model="ngModel.title" ng-change="checkedChangeNone()" checked="true">
			             	 None
							</label>
						</div> -->
						<div class="radio" ng-repeat="item in options.vnfd_list">
							<label>
			            	<input type="radio"  value="{{item.key}}" ng-model="ngModel.vnf.key" disabled>
			            	{{ngModel.vnf.item}}
			            	</label>
			            </div>
					</div>				
				</td>
			</tr>
						
			<tr>
				<th>redundancy model</th>
				<td>
					<div class="form-control-wrapper">
						<input type="text"
							name="redundancy_model"
							class="form-control"
							ng-model="ngModel.redundancy_model"
							placeholder="redundancy_model"
							maxlength="50"
							required
							/>

					</div>
				</td>
			</tr>
			
			<tr>
				<th>affinity</th>
				<td>
					<div class="form-control-wrapper">
						<input type="text"
							name="affinity"
							class="form-control"
							ng-model="ngModel.affinity"
							placeholder="affinity"
							maxlength="50"
							required
							/>

					</div>
				</td>
			</tr>
			
			<tr>
				<th>vnf cap</th>
				<td>
					<div class="form-control-wrapper">
						<input type="text"
							name="vnf_cap"
							class="form-control"
							ng-model="ngModel.vnf_cap"
							placeholder="vnf_cap"
							maxlength="50"
							required
							/>

					</div>
				</td>
			</tr>
			
			<tr>
				<th>number of instances</th>
				<td>
					<div class="form-control-wrapper">
						<input type="text"
							name="number_of_instances"
							class="form-control"
							ng-model="ngModel.number_of_instances"
							placeholder="number_of_instances"
							maxlength="50"
							required
							/>
	
						<div ng-show="form.number_of_instances.$error.required">Required</div>
					</div>
				</td>
			</tr>
			
		</tbody>
	</table>
</div>


				</div>
				<!-- // panel-body-wrapper -->
			</div>
			<!-- // panel-body -->
		</div>
		<!-- // panel -->
	</fieldset>
</form><!-- // form -->