

<div class="row">
	
	<div class="col-md-12">
		<div ng-include=" 'views/volumes/edit_attach_detail_info.html' ">
		</div>
	</div>

</div><!-- // row -->

<div class="row">
		<hr/>
</div>
<div class="row">

	<div class="col-md-12">
		<fieldset>
			<div class="form-group">

				<h4>인스턴스에 연결</h4>

				<!-- Volume -->
				<div class="form-control-wrapper">
					<label for="id_instance" data-i18n="인스턴스에 연결"></label>
					<select
						id="id_instance"
						name="instance"
						class="form-control"
						ng-model="volumeAttachment.instance"
						ng-options="item as item.name for item in instances"
						ng-change="changeInstance()"
						required>
						<option  value="">인스턴스 선택</option>
					</select>

					<div ng-show="form.instance.$error.required" data-i18n="인스턴스를 선택해주세요."></div>
				</div>

	



			</div><!-- // form-group -->
		</fieldset><!-- // fieldset -->
		
	</div><!-- // col -->
	
</div><!-- // row -->