
<h4>부착물</h4>

<div>
      <table class="table table-bordered">
          <thead>
              <tr>
                  <th width="10%"></th>
                  <th width="35%">인스턴스</th>
                  <th width="35%">장치</th>
                  <th width="20%">실행</th>
              </tr>
          </thead>
          <tbody>
          	  <tr ng-show="instances !=null " ng-repeat="item in volume.attachments">
          	  	<td></td>
          	  	<td>{{getServerName(item.server_id)}}</td>
          	  	<td>{{item.device}}</td>
          	  	<td></td>
          	  </tr>
              <tr ng-show="volume.attachments.length == 0 || instances == null">
                  <td class="text-center" colspan="4">표시할 항목이 없습니다.</td>
              </tr>
          </tbody>
      </table>
</div>
