
<h5>Flavor 세부정보</h5>

<table class="table">
	<colgroup>
		<col width="50%" />
		<col width="50%" />
	</colgroup>

	<tbody>
		<tr>
			<th>이름</th>
			<td>
				<span ng-bind="instance.flavor.name" />
			</td>
		</tr>

		<tr>
			<th>vCPUs</th>
			<td>
				<span ng-bind="instance.flavor.vcpus" />
			</td>
		</tr>

		<tr>
			<th>Root 디스크</th>
			<td>
				<span ng-bind="instance.flavor.disk + ' GB'" />
			</td>
		</tr>

		<tr>
			<th>Ephemeral 디스크</th>
			<td>
				<span ng-bind="instance.flavor['OS-FLV-EXT-DATA:ephemeral']" />
			</td>
		</tr>

		<tr>
			<th>RAM</th>
			<td>
				<span ng-bind="instance.flavor.ram + ' MB'" />
			</td>
		</tr>
	</tbody>
</table>

<h5>프로젝트 제한</h5>

인스턴스 수
<span ng-bind="instances.max | number" /> 에서
<span ng-bind="instances.used | number" /> 사용

<progress>
	<bar ng-repeat="bar in instanceStacked" value="bar.value" type="{{bar.type}}"></bar>
</progress>
<br/>

VCPUs 수

<span ng-bind="vcpus.max | number" /> 에서
<span ng-bind="vcpus.used | number" /> 사용

<progress>
	<bar ng-repeat="bar in vcpusStacked" value="bar.value" type="{{bar.type}}"></bar>
</progress>

<br/>

모든 RAM
<span ng-bind="ram.max | number" /> 에서
<span ng-bind="ram.used | number" /> 사용

<progress>
	<bar ng-repeat="bar in ramsStacked" value="bar.value" type="{{bar.type}}"></bar>
</progress>

<br/>
