
<div data-ng-controller="SystemCtrl"
	ng-init="init()"
	class="page">

	<div class="row">

		<!-- List -->
		<div class="col-md-4 col-lg-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row">
						<div class="col-md-6 text-left">
							<span class="glyphicon glyphicon-th"></span>
							시스템 목록
						</div><!-- // col -->

						<div class="col-md-6 text-right">
						</div><!-- // col -->
					</div><!-- // row -->
				</div><!-- // panel-heading -->

				<div class="panel-body">

					<div class="nav-container custom-pre-scrollable" ng-style="style()" resizefit>
						<ul class="nav">
							<li ng-repeat="item in systems">
								<a href
									ng-click="selectItem(item)"
									ng-class="{'highlight' : isSelected(item)}">
									<i class="fa fa-desktop"></i>
									<span ng-bind="item.hostName"
										ng-class="itemStatusClass(item)"></span></a></li>
						</ul>
					</div>
					
				</div><!-- panel -->
			</div><!-- // panel-body -->
		</div><!-- // List -->
		
		<!-- Detail -->
		<div class="col-md-8 col-lg-9">

			<div ng-include=" 'views/systems/detail.html' ">
			</div>

		</div><!-- // Detail -->
	</div>

</div><!-- // SystemCtrl -->