<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />
	</settings>
	
	<typeAliases>
		<typeAlias alias="ServerVO" type="com.eluon.pim.value.ServerVO"/>
		<typeAlias alias="ServerStatVO" type="com.eluon.pim.value.ServerStatVO"/>
		<!-- typeAlias alias="ServerEventVO" type="com.eluon.pim.value.ServerEventVO"/-->
		
		<typeAlias alias="SwitchVO" type="com.eluon.pim.value.SwitchVO"/>
		<typeAlias alias="SwitchStatVO" type="com.eluon.pim.value.SwitchStatVO"/>
		
		<typeAlias alias="StorageVO" type="com.eluon.pim.value.StorageVO"/>
		<typeAlias alias="StorageStatVO" type="com.eluon.pim.value.StorageStatVO"/>
		
		<typeAlias alias="StatParamVO" type="com.eluon.pim.value.StatParamVO"/>
	
		<typeAlias alias="SubscriptionInfoVO" type="com.eluon.pim.value.SubscriptionInfoVO"/>
		
		<typeAlias alias="ServerAlarmVO" type="com.eluon.pim.value.ServerAlarmVO"/>
		<typeAlias alias="SwitchAlarmVO" type="com.eluon.pim.value.SwitchAlarmVO"/>
		<typeAlias alias="StorageAlarmVO" type="com.eluon.pim.value.StorageAlarmVO"/>
		
		<typeAlias alias="ServerEventVO" type="com.eluon.pim.value.ServerEventVO"/>
		<typeAlias alias="SwitchEventVO" type="com.eluon.pim.value.SwitchEventVO"/>
		<typeAlias alias="StorageEventVO" type="com.eluon.pim.value.StorageEventVO"/>
	</typeAliases>

	<mappers>
		 <mapper resource="/mapper/server-mapper.xml" />
		 <mapper resource="/mapper/switch-mapper.xml" />
		 <mapper resource="/mapper/storage-mapper.xml" />		 
		 <mapper resource="/mapper/subscription-mapper.xml" />
		 <mapper resource="/mapper/alarm-mapper.xml" />
		 <mapper resource="/mapper/event-mapper.xml" />
	</mappers>

</configuration>