
<div class="panel panel-default">
	
	<div class="panel-heading">
		<div class="row">
			<div class="col-md-6 text-left">
				<span class="glyphicon glyphicon-th"></span>
				Network 상세
			</div><!-- // col -->
			
			<div ng-show="network"
				class="col-md-6 text-right">

				<div class="btn-group" dropdown>
					<button type="button" class="btn btn-info btn-sm dropdown-toggle">
						동작
						<span class="caret"></span>
					</button>
	
	                <ul class="dropdown-menu" role="menu">
	                	<li ><a href ng-click="editNetworkForm(network)">Network 편집</a></li>
	                	<li ><a href ng-click="createSubnetForm(network)">서브넷 추가</a></li>
	                </ul>
				</div>
				
				<a href
					ng-click="deleteNetworkForm(network)"
					ng-disabled="network == null"
					class="btn btn-sm btn-danger">
					<span class="fa fa-trash"></span>
					Network 삭제</a>

			</div><!-- // col -->
		</div><!-- // row -->
	</div><!-- // panel-heading -->

	<div class="panel-body">
		<div class="custom-pre-scrollable" ng-style="style()" resizefit>

			<table class="table">
				<caption>상세정보</caption>

				<colgroup>
					<col width="30%">
					<col width="70%">
				</colgroup>
				
				<tbody>
					<tr>
						<th>이름</th>
						<td ng-bind="network.name ? network.name : '(' + network.id.substring(0,8) +')' "></td>
					</tr>
					<tr>
						<th>상태</th>
						<td ng-bind="network.status"></td>
					</tr>
					<tr>
						<th>관리자 상태</th>
						<td ng-bind="network.admin_state_up ? 'UP' : ''"></td>
					</tr>
					<tr>
						<th>공유</th>
						<td ng-bind="network.shared ? '예' : '아니오'"></td>
					</tr>
					<tr>
						<th>외부 네트워크</th>
						<td ng-bind="network['router:external'] ? '예' : '아니오'"></td>
					</tr>
					<!-- 
					<tr>
						<th>관리 네트워크</th>
						<td>
							<div> 네트워크 타입:  <span ng-bind="network['provider:network_type']"></span></div>
							<div> 물리적인 네트워크:  <span ng-bind="network['provider:physical_network'] ? network['provider:physical_network'] : '-'"></span></div>
						</td>
					</tr>
					 -->
				</tbody>
			</table>
			<br/>
			
			서브넷
			<div class="panel panel-default margin-right-10">
		        <table class="table">
		            <thead>
		                <tr>
		                    <th width="20%">이름</th>
		                    <th width="20%">네트워크 주소</th>
		                    <th width="10%">IP 버전</th>
		                    <th width="20%">게이트웨이 IP</th>
		                    <th width="30%">실행</th>
		                </tr>
		            </thead>
		            <tbody>
		                <tr ng-repeat="item in network.neutronSubnets">
		                    <td ng-bind="item.name ? item.name : '(' + item.id.substring(0,8) +')' "></td>
		                    <td ng-bind="item.cidr"></td>
		                    <td ng-bind="'IPv' + item.ip_version"></td>
		                    <td ng-bind="item.gateway_ip ? item.gateway_ip : '-'"></td>
		                    <td>
		                    	<a href
									ng-click="editSubnetForm(item)"
									class="btn btn-sm btn-primary">
										<span class="fa fa-pencil"></span>
									서브넷 편집</a>
		                    	<a href
									ng-click="deleteSubnetForm(item)"
									class="btn btn-sm btn-danger">
										<span class="fa fa-trash"></span>
									서브넷 삭제</a>
		                    </td>
		                </tr>
		            </tbody>
		        </table>
		    </div>
		    <br/>
		    
		    포트
			<div class="panel panel-default margin-right-10">
		        <table class="table">
		            <thead>
		                <tr>
		                    <th>이름</th>
		                    <th>고정 IP</th>
		                    <th>장치 연결됨</th>
		                    <th>상태</th>
		                    <th>관리자 상태</th>
		                    <th>실행</th>
		                </tr>
		            </thead>
		            <tbody>
		                <tr ng-repeat="item in network.ports">
		                    <td ng-bind="item.name ? item.name : '(' + item.id.substring(0,8) +')' "></td>
		                    <td >
		                    	 <div ng-repeat="fixed_ip in item.fixed_ips">
		                    	 	<div ng-bind="fixed_ip.ip_address"></div>
		                    	 </div>
		                    </td>
		                    <td ng-bind="item.device_owner"></td>
		                    <td ng-bind="item.status"></td>
		                    <td ng-bind="item.admin_state_up ? 'UP' : 'DOWN' "></td>
		                    <td> <a href
									ng-click="editPortForm(item)"
									class="btn btn-sm btn-primary">
										<span class="fa fa-pencil"></span>
									포트편집</a></td>
		                </tr>
		            </tbody>
		        </table>
		    </div>

		</div><!-- // panel-body-wrapper -->
	</div><!-- // panel-body -->
</div><!-- // panel -->
