<div class="modal-header">
	<h3>Network 편집</h3>
</div>

<form name="form" class="form-validation" novalidate ng-submit="submit(network)">

	<div class="modal-body">
         
		<fieldset>
			
			<div class="form-group">

				<div class="form-control-wrapper">
					<label for="name" data-i18n="이름" ></label>
					<input type="text"
						name="name"
						class="form-control"
						ng-model="network.name"
						placeholder="이름"
						maxlength="100"
						/>

				</div>
				
				<div class="form-control-wrapper">
					<label for="id_id" data-i18n="이름" ></label>
					<input type="text"
						name="id_id"
						class="form-control"
						ng-model="network.id"
						placeholder="이름"
						maxlength="100"
						disabled
						/>

				</div>
				
				<div class="form-control-wrapper">
					<label for="admin_state_up" data-i18n="관리자 상태" class="margin-bottom-0"></label>
					<input type="checkbox"
						name="admin_state_up"
						class="form-control margin-top-0"
						ng-model="network.admin_state_up"
						/>
				</div>
				
				<div class="form-control-wrapper">
					<label for="shared" data-i18n="공유" class="margin-bottom-0"></label>
					<input type="checkbox"
						name="shared"
						class="form-control margin-top-0"
						ng-model="network.shared"
						/>
				</div>
				
				<div class="form-control-wrapper">
					<label for="router_external" data-i18n="외부 네트워크" class="margin-bottom-0"></label>
					<input type="checkbox"
						name="router_external"
						class="form-control margin-top-0"
						ng-model="network['router:external']"
						/>
				</div>
				
			</div><!-- // form-group -->
			
		</fieldset><!-- // fieldset -->

	</div><!-- // modal-body -->

	<div class="modal-footer">

		<button type="button"
			class="btn btn-warning"
			ng-click="cancel()"
			data-i18n="취소"></button>


		<button type="submit" 
			class="btn btn-primary"
			ng-disabled="!canSubmit()"
			data-i18n="저장" ></button>

	</div><!-- // modal-footer -->

</form><!-- // form -->