
<div data-ng-controller="ScalingCtrl" ng-init="init()" class="page">

	<style>
.angular-ui-tree-handle {
	cursor: default;
	border: none;
	padding: 0;
	display: block;
}

.nav-container .treenav>li>.tree-node-content>a>i {
	display: inline-block;
	margin-right: 10px;
	width: 20px;
	line-height: 1;
	text-align: center;
	font-size: 16px;
	-moz-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.nav-container .treenav>li {
	position: relative;
	min-width: 250px;
	margin: 0;
	text-align: left;
	font-weight: 700;
	-moz-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.nav-container .treenav>li>div>a.highlight {
	color: #709A27;
}

.nav-container .treenav>li:first-child>a.node-type-icon {
	border-top: 0;
}

.nav-container .treenav>li:hover>a.node-type-icon {
	background-color: #e4e4e4;
	color: #50bafe;
}

.nav-container .treenav a.node-type-icon:hover {
	text-decoration: none;
}

.nav-container .treenav>li>div>a.node-type-icon {
	position: relative;
	display: inline-block;
	/* 		    padding: 15px 15px; */
	-moz-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.treenav>li>div>a.node-type-icon:hover, .treenav>li>div>a.node-type-icon:focus
	{
	text-decoration: none;
	background-color: #eee;
}

.nav-container .treenav a.node-type-icon {
	font-size: 13px;
	color: #767676;
	-moz-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.treenav>li>div>a.node-type-icon {
	position: relative;
	display: block;
	padding: 10px 10px;
}

.treenav>li>div>a.node-type-icon.is-leaf-node-type-icon {
	padding: 7px 10px;
	margin-left: 20px;
}

.treenav .label.is-leaf-node {
	background-color: #E3F7C0;
	color: #333;
}

.treenav .left-indent {
	margin-left: 27px;
}

.treenav .fa-cog ~.label-success {
	background-color: #465629;
}
</style>
	<div class="row">


		<!-- 인스턴스 목록 -->
		<!-- List -->
		<div class="col-md-4 col-lg-3">
			<div class="row">

				<div class="col-md-12 col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<div class="row">
								<div class="col-md-8 text-left">
									<span class="glyphicon glyphicon-th"> <span
										data-i18n="GROUP NAME"></span></span>
								</div>

								<div class="col-md-4 text-right">
									<a href ng-click="viewModeToggle()" class="btn btn-sm"
										ng-class="{
											'btn-danger': viewMode == 0,
											'btn-info': viewMode != 0
										}">
										<span class="fa"
										ng-class="{
											'fa-pencil-square-o': viewMode == 0,
											'fa-sitemap': viewMode != 0
										}"></span>
										{{viewMode == 0 ? "Edit" : "View"}}
									</a>
								</div>
								<!-- // col -->

							</div>
							<!-- // row -->
						</div>
						<!-- // panel-heading -->

						<div class="panel-body">

							<div class="nav-container custom-pre-scrollable"
								ng-style="style()" resizefit>
								<ul class="nav">
									<li ng-repeat="item in groupList"><a href
										ng-click="selectGroup($index)"
										ng-class="{'highlight' : isSelected(item.group_name)}"
										> <i
											class="fa fa-sitemap"></i> <span class="label label-success">{{item.group_name}}</span>
									</a></li>
								</ul>
								<!-- <pre>{{groupList|json}}</pre> -->
							</div>

						</div>
						<!-- panel -->
					</div>
					<!-- // panel-body -->
					<!-- 여기까지가 인스턴스 목록 -->

				</div>

			</div>
		</div>
		<!-- // List -->

		<!-- ################################################################# -->
		<div class="col-md-8 col-lg-9">
			<div class="row" ng-if="viewMode == 0" ng-include="'views/scaling/view.html'" ></div>
			<div class="row" ng-if="viewMode == 1" ng-include="'views/scaling/edit.html'"></div>

		</div>
		<!-- 10 row -->
	</div>
	<!-- col-10 -->
</div>
<!-- row -->


</div>
<!-- // InstancesCtrl -->