<div class="col-md-12 col-lg-12">
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="row">
				<div class="col-md-12 text-left">
					<span class="glyphicon glyphicon-th"> <span
						data-i18n="Information"></span></span>
				</div>
				<!-- // col -->
			</div>
			<!-- // row -->
		</div>
		<!-- // panel-heading -->

		<div class="panel-body">

			<div class="nav-container custom-pre-scrollable" ng-style="style()"
				resizefit>

				<div class="col-md-6 col-lg-6">
					<!-- 왼쪽  -->
					<div class="row">
						<div class="panel-heading">
							<div class="row">
								<div class="col-md-12 text-left">
									<span class="glyphicon glyphicon-list-alt"> <span
										data-i18n="Instance Group Member List"></span></span>
								</div>
								<!-- // col -->
							</div>
							<!-- // row -->
						</div>

						<div class="col-md-12 col-lg-12 ">
							<div class="well custom-pre-scrollable" resizefit style="min-height: 50px; max-height: 100px;">
								<div class="custom-container">
									<div ng-repeat="instance in selectedVal.instance_name" class="btn btn-info btn-sm" style="margin: 5px;">
												<span>{{instance}}</span>
									</div>
								</div>
							</div>
						</div>

					</div>
					<!-- // row -->

					<div class="row">
						<div class="panel-heading">
							<div class="row">
								<div class="col-md-12 text-left">
									<span class="glyphicon glyphicon-list-alt"> <span
										data-i18n="Configuration"></span></span>
								</div>
								<!-- // col -->
							</div>
							<!-- // row -->
						</div>
						
						<div class="col-md-6 col-lg-6 custom-pre-scrollable" resizefit>

							<table class="table">

								<colgroup>
									<col width="40%" />
									<col width="60%" />
								</colgroup>

								<tbody>

									<tr>
										<th>image</th>
										<td>
<!-- 											<div class="radio">
												<div ng-repeat="imageItem in imageList">
													<label> <input type="radio" name="image"
														ng-model="selectedVal.img_name" value="{{imageItem.name}}"
														disabled /> {{imageItem.name}}
													</label>
												</div>
											</div> -->
											<!-- <div class="form-control-wrapper"
												style="text-align: right; width: 85%;"> -->
												<span>{{selectedVal.img_name}}</span> 
										<!-- 	</div> -->
										</td>
									</tr>
									<tr>
										<th>flavor</th>
										<td>
											<div class="radio">
												<div ng-repeat="flavorItem in flavorList">
													<label> <input type="radio" name="flavor"
														ng-model="selectedVal.flavor_name"
														value="{{flavorItem.name}}" disabled>
														{{flavorItem.name}}
													</label>
												</div>
											</div>
										</td>
									</tr>

								</tbody>
							</table>
							
						</div>
						<div class="col-md-6 col-lg-6 custom-pre-scrollable" resizefit>
							
							<table class="table">
								<colgroup>
									<col width="40%" />
									<col width="60%" />
								</colgroup>

								<tbody>
									<tr>
										<th>network</th>
										<td>
											<div class="checkbox">
												<div ng-repeat="networkItem in networkList">
													<label> <input type="checkbox"
														ng-change="sync(bool, networkItem)" ng-model="bool"
														ng-checked="isChecked(networkItem.name)"														
														disabled> {{networkItem.name}}
													</label>
												</div>
											</div>
										</td>
									</tr>

									<tr>
										<th>key pair</th>
										<td>
											<div class="radio">
												<label>
													<input type ="radio" name ="keypair" value="" ng-model="selectedVal.keypair_name" disabled> none
												</label>
												
												<div ng-repeat="keypairItem in keypairList">
													<label> <input type="radio" name="keypair"
														ng-model="selectedVal.keypair_name"
														value="{{keypairItem.name}}" disabled>
														{{keypairItem.name}}
													</label>
												</div>
											</div>
										</td>
									</tr>

								</tbody>
							</table>

						</div>
					</div>

				</div>

				<div class="col-md-6 col-lg-6">
					<!-- 오른쪽 -->
					<div class="row">
						<div class="col-md-6 col-lg-6">

							<div class="panel-heading">
								<div class="row">

									<span class="glyphicon glyphicon-list-alt"> <span
										data-i18n="SCALE-IN"></span></span>
									<!-- // col -->
								</div>
								<!-- // row -->
							</div>

							<div class="custom-pre-scrollable" resizefit
								style="max-height: 450px;">

								<div class="form-control-wrapper">

									<table class="table">

										<colgroup>
											<col width="40%" />
											<col width="60%" />
										</colgroup>

										<tbody>
											<tr style="height:65px;">
												<th>cpu</th>
												<td>
													<div class="form-control-wrapper"
														style="text-align: right; width: 85%;">
														<span>{{selectedVal.in_cpu}} %</span> 
													</div>
												</td>
											</tr>
											<tr style="height:65px;">
												<th>memory</th>
												<td>
													<div class="form-control-wrapper"
														style="text-align: right; width: 85%;">
														<span>{{selectedVal.in_memory}} %</span> 
													</div>
												</td>
											</tr>
											<tr style="height:65px;">
												<th>cps</th>
												<td>
													<div class="form-control-wrapper"
														style="text-align: right; width: 85%;">
														<span>{{selectedVal.in_cps}} %</span> 
													</div>
												</td>
											</tr>
											
										</tbody>
									</table>

								</div>




							</div>

						</div>

						<div class="col-md-6 col-lg-6">

							<div class="panel-heading">
								<div class="row">
									<span class="glyphicon glyphicon-list-alt"> <span
										data-i18n="SCALE-OUT"></span></span>
									<!-- // col -->
								</div>
								<!-- // row -->
							</div>

							<div class="custom-pre-scrollable" resizefit
								style="max-height: 450px;">

								<div class="form-control-wrapper">

									<table class="table">
										<colgroup>
											<col width="30%" />
											<col width="70%" />
										</colgroup>

										<tbody>
											<tr style="height:65px;">
												<th>cpu</th>
												<td>
													<div class="form-control-wrapper"
														style="text-align: right; width: 85%;">
														<span>{{selectedVal.out_cpu}}</span> %
													</div>
												</td>
											</tr>
											<tr style="height:65px;">
												<th>memory</th>
												<td>
													<div class="form-control-wrapper"
														style="text-align: right; width: 85%;">
														<span>{{selectedVal.out_memory}}</span> %
													</div>
												</td>
											</tr>
											<tr style="height:65px;">
												<th>cps</th>
												<td>
													<div class="form-control-wrapper"
														style="text-align: right; width: 85%;">
														<span>{{selectedVal.out_cps}}</span> %
													</div>
												</td>
											</tr>

										</tbody>
									</table>
									<!-- <pre>{{selectedVal|json}}</pre> -->
								</div>
							</div>
							

						</div>
					</div>



				</div>
			</div>

		</div>
		<!-- panel -->
	</div>
	<!-- // panel-body -->
</div>