
<div data-ng-controller="ManagementPolicyCtrl"
	ng-init="init()"
	class="page">
	
	<style>
	.bootstrap-switch-label {
		color: #CACACA !important;
		text-shadow: 0 -1px 0 rgba(0,0,0,.5) !important;
    }
	</style>

	<div class="row">

		<!-- List -->
		<div class="col-md-4 col-lg-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row">
						<div class="col-md-6 text-left">
							<span class="glyphicon glyphicon-th"></span>
							Policy List
						</div><!-- // col -->

						<!-- // col -->
					</div><!-- // row -->
				</div><!-- // panel-heading -->

				<div class="panel-body">

					<div class="nav-container custom-pre-scrollable" ng-style="style()" resizefit>
						<ul class="nav">
							<li ng-repeat="item in Policies">
								<a href
									ng-click="selectManagementPolicy(item)"
									ng-class="{'highlight' : item.isSelected}">
									<i class="fa fa-cog"></i>
									<span class="label label-success">{{item.mnt_policy_id}}</span>
								</a>
							</li>
						</ul>
					</div>
					
				</div><!-- panel -->
			</div><!-- // panel-body -->
		</div>
		<!-- // List -->
		
		<!-- Detail -->
		<div class="col-md-8 col-lg-9">

			<div class="row">
				
<form name="form" class="col-md-12 col-lg-6 form-validation" novalidate>
	<fieldset>

		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="row">
					<div class="col-md-6 text-left">
						<span class="glyphicon glyphicon-th"></span> Policy
					</div>
					<!-- // col -->

					<div class="col-md-6 text-right">

						<button type="submit"
							ng-click="saveModify()"
							class="btn btn-sm btn-info" 
							ng-class="{'disabled': !isModified || (isModified && form.policy_nm.$error.required)}" 
							ng-disabled="!isModified || (isModified && form.policy_nm.$error.required)">
							<span class="fa fa-floppy-o"></span>
							Save
						</button>
					</div>
					<!-- // col -->
				</div>
				<!-- // row -->
			</div>
			<!-- // header -->

			<div class="panel-body">
				<div class="custom-pre-scrollable" ng-style="style()" resizefit>
				
<div class="form-group">
	<table class="table">
		<caption></caption>

		<colgroup>
			<col width="40%" />
			<col width="60%" />
		</colgroup>

		<tbody ng-switch on="reqData.mnt_policy_nm">
			<tr ng-switch-when="energy_efficiency">
				<th><span data-i18n="{{reqData.mnt_policy_nm}}"></span></th>
				<td>
					<div class="form-control-wrapper">
						<input 
						    bs-switch
						    ng-model="energyEfficiencyValue"
						    type="checkbox"
						    name="policy_nm"
						    switch-on-text="ON"
						    switch-off-text="OFF"
						    switch-on-color="{{ onColor }}"
						    switch-off-color="{{ offColor }}"
    						switch-animate="{{ animate }}"
    						switch-label="{{ label }}"
						    switch-radio-off="{{ radioOff }}"
						    switch-label-width="{{ labelWidth }}"
						    switch-handle-width="{{ handleWidth }}"
						    ng-change="toggleCheckbox(energyEfficiencyValue)">
	
						<div ng-show="form.policy_nm.$error.required">Required</div>
					</div>
				</td>
			</tr>
			<tr ng-switch-default>
				<th><span data-i18n="{{reqData.mnt_policy_nm}}"></span></th>
				<td>
					<div class="form-control-wrapper">
						<input type="text"
							name="policy_nm"
							class="form-control"
							ng-model="reqData.mnt_policy_value"
							placeholder="{{reqData.mnt_policy_nm}}"
							maxlength="50"
							required
							/>
	
						<div ng-show="form.policy_nm.$error.required">Required</div>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>


				</div>
				<!-- // panel-body-wrapper -->
			</div>
			<!-- // panel-body -->
		</div>
		<!-- // panel -->
	</fieldset>
</form><!-- // form -->
			</div>

		</div>
		<!-- // Detail -->
	</div>

</div><!-- // PolicyCtrl -->