
<div class="modal-header">
	<h3>이미지 수정</h3>
</div><!-- // modal-header -->

<form name="form_update" class="form-validation" novalidate data-ng-submit="submit()">

	<div class="modal-body">	
		<fieldset>

			<div class="form-group">
				<label for="" data-i18n="이름"></label>
				<input type="text"
					class="form-control" 
					data-ng-model="image.name" />
					
				<br/>

				<label for="" data-i18n="설명"></label>
				<textarea
					class="form-control" 
					rows="4"
					data-ng-model="image.properties.description"></textarea>

				<br/>

				<input type="checkbox"
					id="is_public"
					data-ng-model="image.is_public" />
				<label for="is_public" data-i18n="공용"></label>
					
				<br/>

				<input type="checkbox"
					id="procted"
					data-ng-model="image.protected" />
				<label for="procted" data-i18n="보호함"></label>
			</div><!-- // form-group -->

		</fieldset><!-- // fieldset -->
	</div><!-- // modal-body -->

	<div class="modal-footer">

		<button type="button"
			class="btn btn-warning"
			ng-click="cancel()"
			data-i18n="취소"></button>

		<input type="submit"
			class="btn btn-primary"
			value="저장" />

	</div><!-- // modal-footer -->

</form><!-- // form -->