<div class="modal-header">
	<h3>암호를 입력하세요</h3>
</div>

<form name="form" class="form-validation" novalidate ng-submit="submit(data)">

	<div class="modal-body">

		<fieldset>

			<div class="form-group">

				<div class="form-control-wrapper">
					<label for="name" data-i18n="PASSWORD"></label>
					<input type="{{inputType}}"
						name="id"
						class="form-control"
						ng-model="data.pass"
						placeholder="PASSWORD"
						maxlength="100"
						required
						/>
					<input type="checkbox" id="checkbox" ng-model="passwordCheckbox" ng-click="hideShowPassword()" />
					<label for="checkbox" ng-if="passwordCheckbox">Hide password</label>
					<label for="checkbox" ng-if="!passwordCheckbox">Show password</label>  
					<div ng-show="form.name.$error.required" data-i18n="필수 필드입니다."></div>
				</div>
				
			</div><!-- // form-group -->

		</fieldset><!-- // fieldset -->

	</div><!-- // modal-body -->

	<div class="modal-footer">

		<button type="button"
			class="btn btn-default pull-left"
			ng-disabled="!canRevert()"
			ng-click="revert()"
			data-i18n="초기화"></button>

		<button type="button"
			class="btn btn-warning"
			ng-click="cancel()"
			data-i18n="취소"></button>

		<button type="submit"
			class="btn btn-primary"
			ng-disabled="!data.pass"
			data-i18n="생성"></button>

	</div><!-- // modal-footer -->

</form><!-- // form -->