<div class="modal-header">
	<h3>호스트 관리</h3>
</div>

<form name="form" class="form-validation" novalidate ng-submit="submit(data)">

	<div class="modal-body">
		<div class="row">
			<div class="col-md-6">
		
				<fieldset>
					<div class="form-group">
						<label id="selected_network_label">호스트를 선택함.</label>
						<div ui-tree="options" data-max-depth="1" data-empty-place-holder-enabled="false" class="selected_network_container"> 
		                    <ol ui-tree-nodes ng-model="data.selectItems" >
		                        <li ng-repeat="item in data.selectItems" ui-tree-node ng-include="'seleted_items_renderer.html'"></li>
		                    </ol>
		                </div>
		                <br/>
		                
		                <label>사용 가능한 호스트</label>
						<div ui-tree="options" data-max-depth="1" data-empty-place-holder-enabled="false" class="available_network_container">
		                    <ol ui-tree-nodes ng-model="data.items" >
		                        <li ng-repeat="item in data.items" ui-tree-node ng-include="'networks_items_renderer.html'"></li>
		                    </ol>
		                </div>
					</div><!-- // form-group -->
				</fieldset><!-- // fieldset -->
		
			<script type="text/ng-template" id="seleted_items_renderer.html">
        <div class="angular-ui-tree-handle">
            {{item}} 
            <a class="pull-right btn btn-danger btn-xs " data-nodrag ng-click="deleteRight(item)"><span class="fa fa-minus"></span></a>
        </div>
    </script>
			<script type="text/ng-template" id="networks_items_renderer.html">
        <div class="angular-ui-tree-handle">
            {{item}} 
            <a class="pull-right btn btn-info btn-xs " data-nodrag ng-click="deleteLeft(item)"><span class="fa fa-plus"></span></a>
        </div>
    </script>
			</div><!-- // col -->
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-12">
						버튼을 클릭하거나 드래그 앤 드롭으로 '사용가능한 네트워크에'서 네트워크 항목을 선택하여 '선택한 네트워크'로 이동 하십시오. 드래그 앤 드롭으로 NIC 순서를 변경할 수 있습니다.
					</div>
				</div>
		
			</div><!-- // col -->
		</div><!-- // row -->
		
	<div class="modal-footer">

		<button type="button"
			class="btn btn-default pull-left"
			ng-disabled="!canRevert()"
			ng-click="revert()"
			data-i18n="초기화"></button>

		<button type="button"
			class="btn btn-warning"
			ng-click="cancel()"
			data-i18n="취소"></button>

		<button type="submit"
			class="btn btn-primary"
			ng-disabled="!canSubmit()"
			data-i18n="변경"></button>

	</div><!-- // modal-footer -->

</form><!-- // form -->